.site-footer{
    padding-top: 35px;
    background-color: $black;
    color: #fff;
}
.top-footer{
    margin-bottom: 30px;
    .col-menu{
	.nav{
	    flex-direction: column;
	    a{
		color: #fff;
		line-height: 1.77;
		transition: all .2s linear;
		@include hover-focus{
		    opacity: .7;
		    padding-left: .3em;
		}
	    }
	}
    }
}
.col-payments{
    li+li{
	margin-left: 7px;
    }
    .icon{
	color: $gray-500;
	width: rem(36px);
	height: rem(36px);
    }
}
.bottom-footer{

}
.copy{
    color: #a3a3a3;
}