.site-footer{
    padding-top: 35px;
    background-color: $black;
    color: #fff;
    hr{
	margin: 0;
	border-color: #323232;
    }
}
.top-footer{
    margin-bottom: 30px;
    .col-menu{
	.nav{
	    flex-direction: column;
	    a{
		color: #fff;
		line-height: 1.77;
		transition: all .2s linear;
		@include hover-focus{
		    opacity: .7;
		    padding-left: .3em;
		}
	    }
	}
    }
}
.col-payments{
    li+li{
	margin-left: 7px;
    }
    .icon{
	color: $gray-500;
	width: rem(36px);
	height: rem(36px);
    }
}
.bottom-footer{
    align-items: center;
    .copy{
	color: $gray-500;
	margin: 15px 0;
    }
    .social{
	margin: 15px 0;
	li+li{
	    margin-left: 8px;
	}
	.icon{
	    color: $gray-500;
	    width: rem(24px);
	    height: rem(24px);
	}
    }
}
.site-footer{
    @include media-breakpoint-up(lg) {
	.col-logo{
	    flex: 0 0 24%;
	    max-width: 24%;
	}
	.col-menu{
	    flex: 0 0 56%;
	    max-width: 56%;
	}
	.col-payments{
	    flex: 0 0 20%;
	    max-width: 20%;
	}
    }
    @include media-breakpoint-up(md) {
	.col-logo{
	    flex: 0 0 22%;
	    max-width: 22%;
	}
	.col-menu{
	    flex: 0 0 54%;
	    max-width: 54%;
	}
	.col-payments{
	    flex: 0 0 24%;
	    max-width: 24%;
	}
    }
    @include media-breakpoint-up(sm) {
	.col-menu{
	    display: flex;
	    .nav{
		flex: 0 0 33.333333333%;
		max-width: 33.333333333%;
	    }
	}
    }
    /***/
    @include media-breakpoint-between(sm,md) {
	.top-footer{
	    text-align: center;
	    .col-logo{
		order: 2;
		flex: 0 0 50%;
		max-width: 50%;
	    }
	    .col-menu{
		order: 1;
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: rem(20px);
	    }
	    .col-payments{
		order: 3;
		flex: 0 0 50%;
		max-width: 50%;
		.nav{
		    justify-content: center;
		}
	    }
	}
    }
    @include media-breakpoint-down(sm) {
	text-align: center;
	.col-12{
	    margin-bottom: 1.5rem;
	}
	.nav{
	    justify-content: center;
	}
    }
}