.site-header{
    position: relative;
    background-color: $black;
    .top{
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
    }
    .bottom{
	padding-bottom: 20px;
	align-items: center;
    }
    a{
	color: #fff;
	transition: all .2s linear;
	@include hover-focus{
	    opacity: .7;
	}
    }
    .search{
	.form-control{
	    border-color: #fff;
	    padding-top: 6px;
	    padding-bottom: 6px;
	    height: 32px;
	}
	.btn{
	    border-color: #fff;
	    padding-top: 3px;
	    padding-bottom: 3px;
	    .icon{
		color: $black;
		width: 19px;
		height: 19px;
	    }
	}
    }
    .mobile-menu-btn,
    .products{
	.icon{
	    width: 20px;
	    height: 14px;
	    vertical-align: bottom;
	    margin-left: 10px;
	}
    }
    .main-menu{
	li+li{
	    margin-left: 30px;
	}
    }
    .user-menu{
	.nav {
	    justify-content: flex-end;
	    li:last-child{
		padding-right: 0;
	    }
	}
	li{
	    padding: 0 20px;
	    a{
		font-size: 14px;
		padding: 5px 0 5px 35px;
	    }
	}
	.i-order-status{
	    background: url(../img/i-order-status.png) left center no-repeat;
	    background-size: 25px 23px;
	}
	.i-sign-in{
	    background: url(../img/i-sign-in.png) left 3px no-repeat;
	    background-size: 24px 25px;
	}
	.i-faqs{
	    background: url(../img/i-faqs.png) left center no-repeat;
	    background-size: 26px;
	}
	.i-add-product{
	    background: url(../img/i-add-product.png) left center no-repeat;
	    background-size: 26px;
	}
	.i-contact{
	    background: url(../img/i-contact.png) left center no-repeat;
	    background-size: 25px;
	}
    }
    .img-profile{
	width: rem(35px);
	height: rem(35px);
	box-shadow: 0 0 2px 1px #858585;
	margin-right: 5px;
    }
    .dropdown-toggle{
	text-transform: none;
    }
    .dropdown.no-arrow{
	.dropdown-toggle:after{
	    display: none;
	}
    }
    .cart{
	text-align: right;
	.dropdown{
	    display: inline-block;
	    .btn{
		color: #a1a1a1;
	    }
	    .dropdown-menu{
		min-width: 6rem;
	    }
	    .dropdown-item {
		color: $dropdown-link-color;
	    }
	}
	.btn-cart{
	    background: url(../img/i-cart.png) 50% no-repeat;
	    background-size: 28px 27px;
	    text-indent: -9999px;
	    width: 30px;
	}
    }
    //
    @media(max-width: 767px){
	.top{
	    padding-top: .7rem;
	    padding-bottom: .7rem;
	    .logo{
		order: 1;
		img{
		    max-width: 100px;
		}
	    }
	    .search{
		margin-top: .5rem;
		margin-bottom: .5rem;
		order: 3;
		flex: 0 0 100%;
	    }
	    .cart{
		order: 2;
	    }
	}
	.bottom{
	    .show{
		display: block !important;
	    }
	    .user-menu,
	    .main-menu{
		display: none;
	    }
	    .products{
		order: 1;
		flex: 0 0 50%;
	    }
	    .mobile-menu-btn{
		flex: 0 0 50%;
		display: block !important;
		text-align: right;
		order: 2;
	    }
	    .main-menu{
		order: 3;
		flex: 0 0 100%;
		border-top: 1px solid $gray-500;
		margin-top: 1rem;
		.nav{
		    flex-direction: column;
		    li{
			margin-bottom: 1rem;
			margin-top: 1rem;
			margin-left: 20px;
		    }
		}
	    }
	    .user-menu{
		order: 4;
		flex: 0 0 100%;
		margin-top: 1rem;
		border-top: 1px solid $gray-500;
		.nav{
		    flex-direction: column;
		    li{
			margin-bottom: 1rem;
			margin-top: 1rem;
		    }
		}
	    }
	}
    }
    @media(min-width: 768px){
	.user-menu{
	    li+li{
		border-left: 1px solid #2f2f2f;
	    }
	}
    }
    @media(min-width: 768px) and (max-width: 1439px) {
	.products,
	.logo{
	    flex: 0 0 24%;
	}
	.cart{
	    flex: 0 0 25%;
	}
	.bottom{
	    //justify-content: center;
	}
	.main-menu{
	    flex: 0 0 60%;
	    .nav{
		justify-content: center;
	    }
	}
	.user-menu{
	    margin-top: 2rem;
	    flex: 0 0 100%;
	    .nav{
		justify-content: center;
	    }
	}
    }
    @media(min-width: 1440px) and (max-width: 1599px) {
	.products,
	.logo{
	    flex: 0 0 18%;
	}
	.cart{
	    flex: 0 0 20%;
	}
    }
    @media(min-width: 1600px){
	padding-left: 37px;
	padding-right: 37px;
	.search{
	    flex: 0 0 1146px;
	}
	.products{
	    flex: 0 0 18.7%;
	}
	.user-menu{
	    flex: 0 0 50%;
	}
    }
}
#allProductsMenu{
    background-color: #fff;
    max-width: 770px;
    min-height: 414px;
    width: 100%;
    z-index: 10;
    display: none;
    &.show{
	display: flex;
    }
    .aside{
	flex: 0 0 110px;
	background-color: $gray-700;
	.nav{
	    flex-direction: column;
	    li{
		a{
		    display: inline-block;
		    width: 100%;
		    padding: 1rem;
		    font-size: rem(14px);
		    border-bottom: 1px solid #525252;
		    &.active,
		    &:hover{
			background-color: #242424;
			border-bottom: 1px solid #242424;
		    }
		}
	    }
	}
    }
    .menu{
	width: 100%;
	a{
	    color: #000;
	}
    }
    .sub-menu-wrp{
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
    }
    .heading{
	flex: 0 0 100%;
	padding-top: 8px;
	a{
	    text-decoration: underline;
	    font-size: rem(14px);
	    font-weight: 300;
	}
	.h4{
	    font-size: 14px;
	}
    }
    .addition{
	margin-top: 2rem;
	flex: 0 0 100%;
    }
    .sub-menu{
	ul {
	    padding: 0;
	    list-style: none;
	    column-count: 2;
	    column-gap: 20px;
	    li{
		padding-top: 10px;
		a{
		    font-size: rem(14px);
		    font-weight: 300;
		}
	    }
	}
    }
    @media (min-width: 1600px){
	left: 37px;
    }
    @include media-breakpoint-up(sm) {
	.aside{
	    flex: 0 0 175px;
	    .nav li a{
		padding: rem(13px 20px);
	    }
	}
	.heading {
	    flex: 0 0 100px;
	}
    }
    @include media-breakpoint-up(md) {
	position: absolute;
	left: 0;
	top: 135px;
	.sub-menu{
	    ul {
		column-count: 3;
		column-gap: 20px;
	    }
	}
    }
}