.site-header{
    background-color: $black;
    .top{
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
    }
    .bottom{
	padding-bottom: 20px;
	align-items: center;
    }
    a{
	color: #fff;
	transition: all .2s linear;
	@include hover-focus{
	    opacity: .7;
	}
    }
    .search{
	.form-control{
	    border-color: #fff;
	    padding-top: 6px;
	    padding-bottom: 6px;
	    height: 32px;
	}
	.btn{
	    border-color: #fff;
	    padding-top: 3px;
	    padding-bottom: 3px;
	    .icon{
		color: $black;
		width: 19px;
		height: 19px;
	    }
	}
    }
    .products{
	.icon{
	    width: 20px;
	    height: 14px;
	    vertical-align: bottom;
	    margin-left: 10px;
	}
    }
    .main-menu{
	li+li{
	    margin-left: 30px;
	}
    }
    .user-menu{
	li+li{
	    border-left: 1px solid #2f2f2f;
	}
	li{
	    padding: 0 20px;
	    a{
		font-size: 14px;
		padding: 5px 0 5px 35px;
	    }
	}
	.i-order-status{
	    background: url(../img/i-order-status.png) left center no-repeat;
	    background-size: 25px 23px;
	}
	.i-sign-in{
	    background: url(../img/i-sign-in.png) left 3px no-repeat;
	    background-size: 24px 25px;
	}
	.i-faqs{
	    background: url(../img/i-faqs.png) left center no-repeat;
	    background-size: 26px;
	}
	.i-contact{
	    background: url(../img/i-contact.png) left center no-repeat;
	    background-size: 25px;
	}
    }
    .cart{
	text-align: right;
	.dropdown{
	    display: inline-block;
	    .btn{
		color: #a1a1a1;
	    }
	    .dropdown-menu{
		min-width: 6rem;
	    }
	    .dropdown-item {
		color: $dropdown-link-color;
	    }
	}
	.btn-cart{
	    background: url(../img/i-cart.png) 50% no-repeat;
	    background-size: 28px 27px;
	    text-indent: -9999px;
	    width: 30px;
	}
    }
}