@each $color, $value in $grays {
    .swatch-#{$color} {
	color: color-yiq($value);
	background-color: #{$value};
    }
}

.btn{
    text-transform: uppercase;
}
.btn-outline-info {
    text-transform: none;
    color: #666;
    &:not(:hover){
	background-color: #fff;
	.icon{
	    color: #ccc;
	    transition: color .15s ease-in-out;
	}
    }
}
.form-text{
    font-size: 12px;
    a{
	color: $black;
	text-decoration: underline;
    }
}
.section{
    padding-top: 18px;
    padding-bottom: 25px;
}
