@include media-breakpoint-up(xl) {
    .row-100{
	margin-left: -50px;
	margin-right: -50px;
	> .col,
	> [class*="col-"] {
	    padding-left: 50px;
	    padding-right: 50px;
	}
    }
}
@include media-breakpoint-up(md) {
    .col-logo{
	flex: 0 0 25%;
	max-width: 25%;
    }
    .col-menu{
	flex: 0 0 56%;
	max-width: 56%;
	display: flex;
	.nav{
	    flex: 0 0 33.333333333%;
	    max-width: 33.333333333%;
	}
    }
    .col-payments{
	flex: 0 0 19%;
	max-width: 19%;
    }
}