@include media-breakpoint-up(sm) {
    .page-header{
	&.bg-2{
	    padding: rem(26px 0);
	}
    }
    .agreement-progress{
	.heading br{
	    display: none;
	}
	.line:after{
	    height: 6px;
	}
	.indicator {
	    width: 53px;
	    height: 53px;
	    .icon{
		width: 30px;
		height: 30px;
	    }
	}
	.done{
	    .icon{
		width: 40px;
		height: 32px;
	    }
	}
    }
    .reviews.owl-carousel{
	padding-left: 38px;
	padding-right: 38px;
    }

}
@include media-breakpoint-up(md) {
    .about-steps{
	.step{
	    .img{
		flex: 0 0 136px;
	    }
	    .content{
		padding: rem(0 35px);
		font-size: 13px;
	    }
	    .title{
		font-size: rem(22px);
	    }
	}
    }
    .sort-block{
	justify-content: flex-end;
	.form-inline {
	    justify-content: flex-end;
	}
    }
    .product-filters.collapse{
	display: block;
    }
}
@media (min-width: 1280px){
    .row-100{
	margin-left: -50px;
	margin-right: -50px;
	> .col,
	> [class*="col-"] {
	    padding-left: 50px;
	    padding-right: 50px;
	}
    }
    .row-35{
	margin-left: -18px;
	margin-right: -18px;
	> .col,
	> [class*="col-"] {
	    padding-left: 18px;
	    padding-right: 18px;
	}
    }
    .col-lg-8{
	.orders{
	    .shipping-info{
		padding-top: 2rem;
		margin-top: 2rem;
	    }
	}
	.products-list{
	    .product{
		.img{
		    flex: 0 0 30%;
		    max-width: 30%;
		}
		.content{
		    flex: 0 0 47%;
		    max-width: 47%;
		}
		.status{
		    flex: 0 0 23%;
		    max-width: 23%;
		    padding-left: 25px;
		    padding-right: 25px;
		}
	    }
	}
    }

    .products-list{
	.product{
	    padding: 2.5rem 18px;
	    .img{
		text-align: center;
		img{
		    width: 100%;
		    max-width: 170px;
		}
	    }
	}
    }
}
@include media-breakpoint-up(lg) {
    .col-lg-5-12{
	flex: 0 0 20%;
	min-width: 20%;
    }
    .post-content{
	padding: 2rem;
    }
    .single-post{
	.post-img{
	    margin: 1rem -2rem;
	}
    }
    .inventory{
	.scroll-y{
	    height: 1500px;
	}
    }
    .orders{
	.scroll-y{
	    height: 1460px;
	}
    }
    .notification-list{
	.scroll-y{
	    height: 926px;
	}
    }
    .orders-full{
	.products-list{
	    .product{
		.img{
		    flex: 0 0 20%;
		    max-width: 20%;
		}
		.content{
		    flex: 0 0 32%;
		    max-width: 32%;
		}
		.shipping-info{
		    flex: 0 0 32%;
		    max-width: 32%;
		}
		.status{
		    flex: 0 0 16%;
		    max-width: 16%;
		}
	    }
	}
    }
    .payment-options{
	.amount {
	    font-size: rem(19px);
	}
	.check{
	    .choice{
		width: 48px;
		height: 48px;
		border-radius: 50%;
		.icon{
		    width: 31px;
		    height: 31px;
		}
	    }
	}
    }
    #allProductsMenu{
	.sub-menu-wrp {
	    padding: rem(20px 30px);
	}
    }
    .categories-list{
	.category{
	    padding-top: 1.2rem;
	    padding-bottom: 1.2rem;
	}
    }
    .reviews-list .list-group-item{
	.col-md-3 {
	    flex: 0 0 29%;
	    max-width: 29%;
	}
	.col-md-9 {
	    flex: 0 0 71%;
	    max-width: 71%;
	}
    }
}
@include media-breakpoint-up(xl) {
    .orders-full{
	.products-list{
	    .product{
		.shipping-info,
		.status{
		    padding-left: 25px;
		    padding-right: 25px;
		}
	    }
	}
    }
}
/*********************************/
@include media-breakpoint-down(sm) {
    .sidebar,
    .gap-sm{
	margin-top: 2rem;
    }
    .page-header .h1 {
	font-size: 1.2rem;
    }
    .home-about{
	text-align: center;
	p{
	    margin-left: auto;
	    margin-right: auto;
	}
	.col-9 {
	    text-align: left;
	}
	.col-11{
	    margin-top: 1rem;
	    margin-bottom: 1rem;
	}
    }
}
@media(min-width:480px) and (max-width: 991px) {
    .review .review-heading{
	flex-direction: column;
	align-items: flex-start;
    }
}
@include media-breakpoint-down(md) {
    .form-row{
	[class*="col-lg-"]{
	    margin-bottom: 1rem;
	}
    }
    .gap-md{
	margin-top: 2rem;
    }
}
@include media-breakpoint-down(sm) {
    .sort-block{
	justify-content: center;
	text-align: center;
	.form-inline {
	    justify-content: center;
	}
    }
}
@media(max-width: 479px){
    .btn-close {
	right: 2px;
	top: 2px;
    }
}
@media(max-width: 374px){
    .btn-group-lg>.btn, .btn-lg {
	font-size: 1.2rem;
    }
    .h1, .h2, h1, h2 {
	font-size: 1.5rem;
    }
    .payment-options .payment>* {
	padding-left: 5px;
	padding-right: 5px;
    }
    .card-body {
	padding: .6rem;
    }
}