@media (min-width: 1280px){
    .row-100{
	margin-left: -50px;
	margin-right: -50px;
	> .col,
	> [class*="col-"] {
	    padding-left: 50px;
	    padding-right: 50px;
	}
    }
    .card-body{
	padding: 20px 30px;
    }
}
@include media-breakpoint-down(sm) {
    .page-header .h1 {
	font-size: 1.2rem;
    }
}