<% var data = {
title: "About Us | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="about-banner">
    <div class="container">
	<div class="row">
	    <div class="col-md-6 align-self-center">
		<h1 class="h1">Hi, We are<br> bTech Market<br> team.</h1>
		<img src="./img/about-us-banner-sm.jpg" alt="bTech Market" class="d-none">
	    </div>
	</div>
    </div>
</div>
<section class="section">
    <div class="container">
	<h2 class="h2">About Us</h2>
	<div class="home-about">
	    <div class="row row-35">
		<div class="col-md-12 col-lg-4">
		    <div class="logo">
			<img src="./img/main-logo.png" srcset="./img/retina/main-logo-2x.png 2x" alt="Btech">
		    </div>  
		</div>
		<div class="col-11 col-md-11 col-lg-8">
		    <div class="py-4" style="max-width: 97%">
			<h3 class="h2">It’s time to change “HOW THE WORLD VIEWS ELECTRONICS” <br> - By making devices affordable and more earth-friendly.</h3>
			<p>At Btech Market, we are committed to making high-grade technology available to everyone who needs it. At the same time, we prevent reusable laptops, phones, PCs, and other devices from being discarded and ending up as e-waste. We hope that our refurbished electronics will make a difference in the community by reaching potentially-talented people who can turn the world around, but don’t have access to AFFORDABLE technology to make their dreams a reality.</p>
			<h4 class="h5 mt-4 text-white">How do you purchase new electronics without worrying about the environmental impact? </h4>
			<p>If you always thought using electronics saves trees and lowers the usage of paper, know that the reverse is actually true. Manufacturing and developing electronic devices has a serious impact on the socio-economic conditions and environment of the country. Each time a microwave, tablet, smartphone, or laptop leaves the factory, it will eventually add to the mounds of toxic e-waste that causes long-term damage to the earth. </p>
			<h4 class="h5 mt-4 text-white">Our Solution?</h4>
			<p>It’s simple, really. We refurbish THEM. We accept old and used devices and take them apart. After checking each device and its different components for functionality, we replace the old and worn-out parts with new ones. The refurbished phone, laptop, or PC finds a new home. And, a happy customer looking for AFFORDABLE electronics takes them home where they’ll be put to good use for as long as is possible. </p>
		    </div>
		</div>
	    </div>
	</div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>