<% var data = {
title: "About Us | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="about-banner">
    <div class="container">
	<div class="row">
	    <div class="col-md-6 align-self-center">
		<h1 class="h1">Hi, We are<br> bTech Market<br> team.</h1>
		<img src="./img/about-us-banner-sm.jpg" alt="bTech Market" class="d-none">
	    </div>
	</div>
    </div>
</div>
<section class="section">
    <div class="container">
	<h2 class="h2">About Us</h2>
	<div class="home-about">
	    <div class="row row-35">
		<div class="col-md-12 col-lg-4">
		    <div class="logo">
			<img src="./img/main-logo.png" srcset="./img/retina/main-logo-2x.png 2x" alt="Btech">
		    </div>  
		</div>
		<div class="col-11 col-md-11 col-lg-8">
		    <div class="py-4" style="max-width: 97%">
			<h3 class="h2">It’s time to change “HOW THE WORLD VIEWS ELECTRONICS” <br> - By making devices affordable and more earth-friendly.</h3>
			<p>At Btech Market, we are committed to making high-grade technology available to everyone who needs it. At the same time, we prevent reusable laptops, phones, PCs, and other devices from being discarded and ending up as e-waste. We hope that our refurbished electronics will make a difference in the community by reaching potentially-talented people who can turn the world around, but don’t have access to AFFORDABLE technology to make their dreams a reality.</p>
			<h4 class="h5 mt-4 text-white">How do you purchase new electronics without worrying about the environmental impact? </h4>
			<p>If you always thought using electronics saves trees and lowers the usage of paper, know that the reverse is actually true. Manufacturing and developing electronic devices has a serious impact on the socio-economic conditions and environment of the country. Each time a microwave, tablet, smartphone, or laptop leaves the factory, it will eventually add to the mounds of toxic e-waste that causes long-term damage to the earth. </p>
			<h4 class="h5 mt-4 text-white">Our Solution?</h4>
			<p>It’s simple, really. We refurbish THEM. We accept old and used devices and take them apart. After checking each device and its different components for functionality, we replace the old and worn-out parts with new ones. The refurbished phone, laptop, or PC finds a new home. And, a happy customer looking for AFFORDABLE electronics takes them home where they’ll be put to good use for as long as is possible. </p>
		    </div>
		</div>
	    </div>
	</div>
	<h2 class="h2 my-3">Why We Do What We Do? Let’s Explore Some Real Facts</h2>
	<div class="row about-facts">
	    <div class="col-md-4 d-flex mb-3">
		<div class="card">
		    <img src="./uploads/facts-1.jpg" class="card-img-top" alt="What do electronics cost the earth?"> 
		    <div class="card card-body">
			<h3 class="h3">What do electronics<br> cost the earth?</h3>
			<p>Each time a new desktop PC is manufactured, the process consumes 1.8 tons of raw materials. A single PC consumes 10 times its weight in chemicals, rare metals, and other materials. Every chip requires 3.5 pounds of fossil fuels to build. More than 400 gallons of water are needed to produce a single desktop computer. </p>
		    </div>
		</div>
	    </div>
	    <div class="col-md-4 d-flex mb-3">
		<div class="card">
		    <img src="./uploads/facts-2.jpg" class="card-img-top" alt="How are materials for electronics sourced?"> 
		    <div class="card card-body">
			<h3 class="h3">How are materials for<br> electronics sourced?</h3>
			<p>95% of the metals needed to manufacture electronics are sourced from eastern countries. The mining conditions are deplorable and statistics talk about disasters all the time. Developed countries can recycle plastics and metals like say, aluminum. However, only 30% is recycled in countries like the US. And, that’s just one example.</p>
		    </div>
		</div>
	    </div>
	    <div class="col-md-4 d-flex mb-3">
		<div class="card">
		    <img src="./uploads/facts-3.jpg" class="card-img-top" alt="Where do electronics end up?"> 
		    <div class="card card-body">
			<h3 class="h3">Where do electronics<br> end up?</h3>
			<p>By the time your devices reach their end-of-life cycle, they’ll contribute to the millions of tons of e-waste that ends up in massive dumps in developing countries in Asia and Africa. Statistics gathered by the World Economic Forum report that by the end of the year 2018, 48.5 million tonnes of e-waste was generated across the world.</p>
		    </div>
		</div>
	    </div>
	</div>
</section>
<section class="dark-about">
    <div class="container">
	<h2 class="h2">It’s Time to Change That! It’s Time for a Balanced New World Where Technological <br class="d-none d-xl-inline-block">Won’t Cause More Damage to the Earth! And, That’s Where YOU Come In! By Purchasing Refurbished Electronics,<br class="d-none d-xl-inline-block"> YOU Ensure that We Get the Maximum Use Out of Even the Smallest device!</h2>
    </div>
</section>
<section class="section pb-0">
    <div class="container">
	<h2 class="h2">What We Hope to Achieve?</h2>
	<p class="text-secondary" style="max-width: 1105px">Our research shows that thousands of electronics are discarded just because newer models have been released in the market. We have also learned that an unfair number are rejected just because of minor cosmetic flaws like a scratch, dent, or a slightly cracked glass that does not affect overall performance. Still-usable devices are returned to companies because their buyers changed their minds about the purchase. We hope to remedy this appalling wastage. By conducting essential repairs and making the devices available to owners who will appreciate their value.</p>
	<div class="card card-body my-4 py-lg-4">
	    <div class="row row-35">
		<div class="col-md-4">
		    <p class="fsz-15">Minimizing Impact on the Environment - How?</p>
		    <ul class="style-check">
			<li>By maximizing the use of natural resources</li>
			<li>By lowering e-waste as much as possible and cutting back on the carbon footprint</li>
			<li>By preventing toxins from entering landfills and poisoning the ground, air, and water</li>
		    </ul>
		</div>
		<div class="col-md-4 gap-sm">
		    <p class="fsz-15">Contributing to the Community - How?</p>
		    <ul class="style-check">
			<li>By setting up workshops for restoring devices</li>
			<li>By creating jobs for local people</li>
		    </ul>
		</div>
		<div class="col-md-4 gap-sm">
		    <p class="fsz-15">Benefits for Customers - How?</p>
		    <ul class="style-check">
			<li>By making devices available at low cost to people who cannot afford new ones</li>
			<li>By offering discounts of up to 30% to 70% on almost unused devices</li>
			<li>By putting each device through certified testing for reliability and assurance of functionality</li>
		    </ul>
		</div>
	    </div>
	</div>
	<h2 class="h2 my-3">We Believe in Lowering the Overload of New Devices - How We Do It?</h2>
	<div class="row about-steps">
	    <div class="col-md-9 col-lg-6">
		<div class="step">
		    <div class="img"><img src="./img/about-step-1.jpg" alt="Step 1"></div>
		    <div class="content">
			<h3 class="title">Step 1</h3>
			<p>Owners bring used electronics to us instead of discarding them.</p>
		    </div>
		</div>
		<div class="step">
		    <div class="img"><img src="./img/about-step-2.jpg" alt="Step 2"></div>
		    <div class="content">
			<h3 class="title">Step 2</h3>
			<p>Our Certified technicians/Partners dismantle each device and examine it carefully. Every component is checked against factory standards. </p>
		    </div>
		</div>
		<div class="step">
		    <div class="img"><img src="./img/about-step-3.jpg" alt="Step 3"></div>
		    <div class="content">
			<h3 class="title">Step 3</h3>
			<p>In case any broken down parts are detected, they’re replaced with original OEM parts.</p>
		    </div>
		</div>
		<div class="step">
		    <div class="img"><img src="./img/about-step-4.jpg" alt="Step 4"></div>
		    <div class="content">
			<h3 class="title">Step 4</h3>
			<p>The device is cleaned thoroughly.</p>
		    </div>
		</div>
	    </div>
	    <div class="col-md-9 col-lg-6">
		<div class="step">
		    <div class="img"><img src="./img/about-step-5.jpg" alt="Step 5"></div>
		    <div class="content">
			<h3 class="title">Step 5</h3>
			<p>The device then goes through extensive testing to make sure it is in perfect working condition.</p>
		    </div>
		</div>
		<div class="step">
		    <div class="img"><img src="./img/about-step-6.jpg" alt="Step 6"></div>
		    <div class="content">
			<h3 class="title">Step 6</h3>
			<p>The technician makes a careful note of any flaws and makes extensive repairs.</p>
		    </div>
		</div>
		<div class="step">
		    <div class="img"><img src="./img/about-step-7.jpg" alt="Step 7"></div>
		    <div class="content">
			<h3 class="title">Step 7</h3>
			<p>The product is then listed for sale at discounted rates. Customers can check our website for different options for different models and select the one they like. </p>
		    </div>
		</div>
	    </div>
	</div>
	<h2 class="h2 mt-3">Why Rely on Our Products? You Get More than Just a Refurb!</h2>
	<p class="text-secondary">The giants of the tech industry are now recognizing that they have reached a status quo of sophistication in their innovations. Companies like Apple are now focusing on maintenance of hardware and enticing customers to switch to their brand by offering refurbished products at marked down prices. In an attempt to secure their hold on the market, they would prefer to offer software upgrades and options to repair and reuse. In short, “refurbishment” is the new mantra for success and growth. Big brands are also projecting a new brand image that is more eco-friendly with a focus on reusing and recycling.</p>
	<p class="text-secondary">In keeping with changing market trends, we now offer a whole exciting range of recently-released products that have been used only a short while. Customers who are looking for the 
newest of devices can indulge by picking out refurbished models that are only a few months old, have the latest features, and function almost as well as new ones.</p>
	<h2 class="h2 mt-3">You Get:</h2>
    </div>
</section>
<section class="gray-info-boxes about-gray-info-boxes">
    <div class="container">
	<div class="row">
	    <div class="col-md-6 col-lg-3">
		<div class="same-height-md">
		    <img src="./img/icon-about-1.png" srcset="./img/retina/icon-about-1x2.png 2x" alt="Manufacturer Standard Refurbishing Agencies">
		</div>
		<h2>Manufacturer<br> Standard Refurbishing<br> Agencies</h2>
		<p class="mx-auto" style="max-width: 190px">Our refurbishers are the best in the industry. All repairs are conducted under strict supervision. </p>
	    </div>
	    <div class="col-md-6 col-lg-3">
		<div class="same-height-md">
		    <img src="./img/icon-about-2.png" srcset="./img/retina/icon-about-2x2.png 2x" alt="Products that Have Gone Through High-grade Quality Control Checks">
		</div>
		<h2>Products that Have<br> Gone Through High-grade<br> Quality Control Checks</h2>
		<p class="mx-auto" style="max-width: 190px">Each product carries a <br>certification and warranty! And, we select highly-trained <br>technicians.</p>
	    </div>
	    <div class="col-md-6 col-lg-3">
		<div class="same-height-md">
		    <img src="./img/icon-about-3.png" srcset="./img/retina/icon-about-3x2.png 2x" alt="Interesting Range of Products">
		</div>
		<h2>Interesting<br> Range<br> of Products</h2>
		<p class="mx-auto" style="max-width: 235px">Choosing refurbished products does not mean only buying old and outdated technology. You get fairly-new devices that have great features comparable with users who have had theirs for a short while. </p>
	    </div>
	    <div class="col-md-6 col-lg-3">
		<div class="same-height-md">
		    <img src="./img/icon-about-4.png" srcset="./img/retina/icon-about-4x2.png 2x" alt="Security and Assurance">
		</div>
		<h2>Security<br> and<br> Assurance</h2>
		<p class="mx-auto" style="max-width: 220px">Our refurbished devices get the same respect as new products. You’ll get a warranty and the  product is shipped to you in secure packaging. You will pay for your purchase through a 
Secured Payment Gateway.</p>
	    </div>
	</div>
    </div>
</section>
<%= _.template(require('./../includes/footer.html').default)(data) %>