<% var data = {
title: "About Us | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="about-banner">
    <div class="container">
	<div class="row">
	    <div class="col-md-6 align-self-center">
		<h1 class="h1">Hi, We are<br> bTech Market<br> team.</h1>
		<img src="./img/about-us-banner-sm.jpg" alt="bTech Market" class="d-none">
	    </div>
	</div>
    </div>
</div>
<section class="section">
    <div class="container">
	<h2 class="h2">About Us</h2>
	<div class="home-about">
	    <div class="row row-35">
		<div class="col-md-12 col-lg-4">
		    <div class="logo">
			<img src="./img/main-logo.png" srcset="./img/retina/main-logo-2x.png 2x" alt="Btech">
		    </div>  
		</div>
		<div class="col-11 col-md-11 col-lg-8">
		    <div class="py-4" style="max-width: 97%">
			<h3 class="h2">It’s time to change “HOW THE WORLD VIEWS ELECTRONICS” <br> - By making devices affordable and more earth-friendly.</h3>
			<p>At Btech Market, we are committed to making high-grade technology available to everyone who needs it. At the same time, we prevent reusable laptops, phones, PCs, and other devices from being discarded and ending up as e-waste. We hope that our refurbished electronics will make a difference in the community by reaching potentially-talented people who can turn the world around, but don’t have access to AFFORDABLE technology to make their dreams a reality.</p>
			<h4 class="h5 mt-4 text-white">How do you purchase new electronics without worrying about the environmental impact? </h4>
			<p>If you always thought using electronics saves trees and lowers the usage of paper, know that the reverse is actually true. Manufacturing and developing electronic devices has a serious impact on the socio-economic conditions and environment of the country. Each time a microwave, tablet, smartphone, or laptop leaves the factory, it will eventually add to the mounds of toxic e-waste that causes long-term damage to the earth. </p>
			<h4 class="h5 mt-4 text-white">Our Solution?</h4>
			<p>It’s simple, really. We refurbish THEM. We accept old and used devices and take them apart. After checking each device and its different components for functionality, we replace the old and worn-out parts with new ones. The refurbished phone, laptop, or PC finds a new home. And, a happy customer looking for AFFORDABLE electronics takes them home where they’ll be put to good use for as long as is possible. </p>
		    </div>
		</div>
	    </div>
	</div>
	<h2 class="h2 my-3">Why We Do What We Do? Let’s Explore Some Real Facts</h2>
	<div class="row about-facts">
	    <div class="col-md-4 d-flex mb-3">
		<div class="card">
		   <img src="./uploads/facts-1.jpg" class="card-img-top" alt="What do electronics cost the earth?"> 
		   <div class="card card-body">
		       <h3 class="h3">What do electronics<br> cost the earth?</h3>
		       <p>Each time a new desktop PC is manufactured, the process consumes 1.8 tons of raw materials. A single PC consumes 10 times its weight in chemicals, rare metals, and other materials. Every chip requires 3.5 pounds of fossil fuels to build. More than 400 gallons of water are needed to produce a single desktop computer. </p>
		   </div>
		</div>
	    </div>
	    <div class="col-md-4 d-flex mb-3">
		<div class="card">
		   <img src="./uploads/facts-2.jpg" class="card-img-top" alt="How are materials for electronics sourced?"> 
		   <div class="card card-body">
		       <h3 class="h3">How are materials for<br> electronics sourced?</h3>
		       <p>95% of the metals needed to manufacture electronics are sourced from eastern countries. The mining conditions are deplorable and statistics talk about disasters all the time. Developed countries can recycle plastics and metals like say, aluminum. However, only 30% is recycled in countries like the US. And, that’s just one example.</p>
		   </div>
		</div>
	    </div>
	    <div class="col-md-4 d-flex mb-3">
		<div class="card">
		   <img src="./uploads/facts-3.jpg" class="card-img-top" alt="Where do electronics end up?"> 
		   <div class="card card-body">
		       <h3 class="h3">Where do electronics<br> end up?</h3>
		       <p>By the time your devices reach their end-of-life cycle, they’ll contribute to the millions of tons of e-waste that ends up in massive dumps in developing countries in Asia and Africa. Statistics gathered by the World Economic Forum report that by the end of the year 2018, 48.5 million tonnes of e-waste was generated across the world.</p>
		   </div>
		</div>
	    </div>
	</div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>