<% var data = {
title: "Agreement to sell - step 1 | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>

<div class="page-header bg-1">
    <h1 class="h1">Recycle my device</h1>
</div>
<section class="section container pt-4">
    <div class="row">
	<div class="col-md-6 d-flex">
	    <div class="card card-body px-lg-4">
		<div class="row">
		    <div class="col-6">
			<h2 class="h2">Device</h2>
			<p class="fsz-14 mb-3">Apple iPhone 7 Plus 256GB</p>
			<div class="text-center">
			    <img src="/uploads/apple-iphone-7-plus-256gb-156x211.png" alt="Apple iPhone 7 Plus 256GB">
			</div>
		    </div>
		    <div class="col-6">
			<h2 class="h2">Network</h2>
			<p class="fsz-14 mb-3">Please select a network:</p>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="factory-unlocked-check">
				<label class="custom-control-label" for="factory-unlocked-check">Factory Unlocked</label>
			    </div>
			</div>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="rogers-check">
				<label class="custom-control-label" for="rogers-check"><img src="/img/networks/network-rogers.png" srcset="/img/networks/network-rogers@2x.png 2x" alt="rogers"></label>
			    </div>
			</div>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="bell-check">
				<label class="custom-control-label" for="bell-check"><img src="/img/networks/network-bell.png" srcset="/img/networks/network-bell@2x.png 2x" alt="Bell"></label>
			    </div>
			</div>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="telus-check">
				<label class="custom-control-label" for="telus-check"><img src="/img/networks/network-telus.png" srcset="/img/networks/network-telus@2x.png 2x" alt="telus"></label>
			    </div>
			</div>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="fido-check">
				<label class="custom-control-label" for="fido-check"><img src="/img/networks/network-fido.png" srcset="/img/networks/network-fido@2x.png 2x" alt="fido"></label>
			    </div>
			</div>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="koodo-check">
				<label class="custom-control-label" for="koodo-check"><img src="/img/networks/network-koodo.png" srcset="/img/networks/network-koodo@2x.png 2x" alt="koodo"></label>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="col-md-6 d-flex">
	    <div class="card card-body px-lg-4">
		<h2 class="h2">How you want to be Paid</h2>
		<div class="payment-options mt-md-4">
		    <div class="payment active">
			<div class="check"><div class="choice"><svg class="icon"><use xlink:href="#correct-symbol"></use></svg></div></div>
			<div class="amount">$192.00</div>
			<div class="name">PAYPAL</div>
			<div class="logo"><img src="/img/paypal-logo.png" alt="PAYPAL"></div>
		    </div>
		    <div class="payment">
			<div class="check"><div class="choice"><svg class="icon"><use xlink:href="#correct-symbol"></use></svg></div></div>
			<div class="amount">$219.00</div>
			<div class="name">eTransfer with<br> Interac</div>
			<div class="logo"><img src="/img/etransfer-logo.png" alt="eTransfer with Interac"></div>
		    </div>
		    <div class="payment">
			<div class="check"><div class="choice"><svg class="icon"><use xlink:href="#correct-symbol"></use></svg></div></div>
			<div class="amount">$199.00</div>
			<div class="name">Cheque</div>
			<div class="logo"></div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    <div class="row mt-3 justify-content-center">
	<div class="col-md-6">
	    <button type="button" class="btn btn-secondary btn-lg btn-block">Sell my mobile phone</button>
	</div>
    </div>
</section>
<section class="gray-info-boxes">
    <div class="container">
	<div class="row">
	    <div class="col-md-4 col-lg-3">
		<img src="/img/icon-price.png" srcset="/img/icon-price-2x.png 2x" alt="Top price promise">
		<h2>Top price promise</h2>
		<p>If you see a better price on any of<br> our recognised recyclers we may<br> match it*</p>
		<p class="small">*terms apply</p>
	    </div>
	    <div class="col-md-4 col-lg-3">
		<img src="/img/icon-satisfaction.png" srcset="/img/icon-satisfaction-2x.png 2x" alt="Satisfaction guarantee">
		<h2>Satisfaction guarantee</h2>
		<p>What you see is what you get or<br> get your order back for free</p>
	    </div>
	    <div class="col-md-4 col-lg-3">
		<img src="/img/icon-customers.png" srcset="/img/icon-customers-2x.png 2x" alt="Customers">
		<h2>Customers</h2>
		<p>Every day 1,000s of customers<br> choose bTech Market</p>
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>