<% var data = {
  title: "Agreement to sell - step 1 | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="page-header bg-2">
    <div class="agreement-progress container">
	<div class="row">
	    <div class="col done">
		<div class="heading">Your<br> details</div>
		<div class="graph line">
		    <div class="indicator">
			<svg class="icon"><use xlink:href="#correct-symbol"></use></svg>
		    </div>
		</div>
	    </div>
	    <div class="col current">
		<div class="heading">Your<br> payment</div>
		<div class="graph line">
		    <div class="indicator">
			<svg class="icon"><use xlink:href="#indicator-minus"></use></svg>
		    </div>
		</div>
	    </div>
	    <div class="col">
		<div class="heading">Confirm<br> order</div>
		<div class="graph line">
		    <div class="indicator">
			<svg class="icon"><use xlink:href="#indicator-minus"></use></svg>
		    </div>
		</div>
	    </div>
	    <div class="col">
		<div class="heading">Order<br> complete</div>
		<div class="graph">
		    <div class="indicator">
			<svg class="icon"><use xlink:href="#indicator-minus"></use></svg>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>
<section class="section container">
    
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>