<% var data = {
title: "Agreement to sell - step 1 | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>

<div class="page-header bg-1">
    <h1 class="h1">Recycle my device</h1>
</div>
<section class="section container pt-4">
    <div class="row">
	<div class="col-md-6 d-flex">
	    <div class="card card-body">
		<div class="row">
		    <div class="col-6">
			<h2 class="h2">Device</h2>
			<p class="fsz-14 mb-3">Apple iPhone 7 Plus 256GB</p>
			<div class="text-center">
			    <img src="/uploads/apple-iphone-7-plus-256gb-156x211.png" alt="Apple iPhone 7 Plus 256GB">
			</div>
		    </div>
		    <div class="col-6">
			<h2 class="h2">Network</h2>
			<p class="fsz-14 mb-3">Please select a network:</p>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="factory-unlocked-check">
				<label class="custom-control-label" for="factory-unlocked-check">Factory Unlocked</label>
			    </div>
			</div>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="rogers-check">
				<label class="custom-control-label" for="rogers-check"><img src="/img/networks/network-rogers-116x20.png" alt="rogers" class="retina"></label>
			    </div>
			</div>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="bell-check">
				<label class="custom-control-label" for="bell-check"><img src="/img/networks/network-bell-48x24.png" alt="Bell" class="retina"></label>
			    </div>
			</div>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="telus-check">
				<label class="custom-control-label" for="telus-check"><img src="/img/networks/network-telus-106x18.png" alt="telus" class="retina"></label>
			    </div>
			</div>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="fido-check">
				<label class="custom-control-label" for="fido-check"><img src="/img/networks/network-fido-74x28.png" alt="fido" class="retina"></label>
			    </div>
			</div>
			<div class="form-group">
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="koodo-check">
				<label class="custom-control-label" for="koodo-check"><img src="/img/networks/network-koodo-82x30.png" alt="koodo" class="retina"></label>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<div class="col-md-6 d-flex">
	    <div class="card card-body">
		<h2 class="h2">How you want to be Paid</h2>
	    </div>
	</div>
    </div>
    <div class="row mt-3 justify-content-center">
	<div class="col-md-6">
	    <button type="button" class="btn btn-secondary btn-lg btn-block">Sell my mobile phone</button>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>