<% var data = {
title: "Agreement to sell - step 1 | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="page-header bg-2">
    <div class="agreement-progress container">
	<div class="row">
	    <div class="col done">
		<div class="heading">Your<br> details</div>
		<div class="graph line">
		    <div class="indicator">
			<svg class="icon"><use xlink:href="#correct-symbol"></use></svg>
		    </div>
		</div>
	    </div>
	    <div class="col current">
		<div class="heading">Your<br> payment</div>
		<div class="graph line">
		    <div class="indicator">
			<svg class="icon"><use xlink:href="#indicator-minus"></use></svg>
		    </div>
		</div>
	    </div>
	    <div class="col">
		<div class="heading">Confirm<br> order</div>
		<div class="graph line">
		    <div class="indicator">
			<svg class="icon"><use xlink:href="#indicator-minus"></use></svg>
		    </div>
		</div>
	    </div>
	    <div class="col">
		<div class="heading">Order<br> complete</div>
		<div class="graph">
		    <div class="indicator">
			<svg class="icon"><use xlink:href="#indicator-minus"></use></svg>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>
<section class="section container">
    <div class="row">
	<div class="col-md-6 d-flex">
	    <div class="card card-body">
		<div class="same-height-md">
		    <h2 class="h2">Your Payment</h2>
		    <p class="fsz-14 font-weight-light mb-3">You have chosen PayPal</p>
		</div>
		<div class="your-payment-box">
		    <p>Please enter you PayPal Email address</p>
		    <p class="text-center">
			<img src="./img/pay-pal-159x41.png" srcset="/img/retina/pay-pal-159x41-2x.png 2x" alt="PayPal">
		    </p>
		    <div class="form-group">
			<input class="form-control form-control-lg" type="email">
		    </div>
		    <div class="form-group">
			<div class="custom-control custom-checkbox">
			    <input type="checkbox" class="custom-control-input" id="ensure-check">
			    <label class="custom-control-label" for="ensure-check">Please ensure you PayPal email address is entered correctly before continuing</label>
			</div>
		    </div>
		    <div class="alert alert-primary" role="alert">
			<div class="text-body">We are not liable to be held responsible for any payment made to the wrong account due to incorrect PayPal account details.</div>
		    </div>
		    <h3 class="secure-heading mt-4"><svg class="icon"><use xlink:href="#secure"></use></svg> All Payments are SSL SECURE</h3>
		</div>
		<button type="button" class="btn btn-secondary btn-lg btn-block">Submit</button>
	    </div>
	</div>
	<div class="col-md-6 d-flex">
	    <div class="card card-body">
		<div class="same-height-md">
		    <h2 class="h2">Did you know</h2>
		</div>
		<div class="bg-primary p-xl-4 p-2 mb-4">
		    <div class="row align-items-center">
			<div class="col-3">
			    <div class="text-center">
				<img src="./img/icon-same-day-payment.png" srcset="/img/retina/icon-same-day-payment-2x.png 2x" alt="Same Day Payment">
			    </div>
			</div>
			<div class="col-9">
			    <h3 class="text-white">Same Day Payment</h3>
			    <p class="text-white-50">Payment into your PayPal account on same<br> day of receipt of you gadget</p>
			</div>
		    </div>
		</div>
		<div class="bg-primary p-xl-4 p-2">
		    <div class="row align-items-center">
			<div class="col-3">
			    <div class="text-center">
				<img src="./img/icon-satisfaction.png" srcset="/img/retina/icon-satisfaction-2x.png 2x" alt="Satisfaction guarantee">
			    </div>
			</div>
			<div class="col-9">
			    <h3 class="text-white">100% Satisfaction Guarantee</h3>
			    <p class="text-white-50">Get paid $180.00 or you can get your gadget<br> back for free</p>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>