<% var data = {
title: "Blog | Btech",
}; %>
<%= _.template(require('./../includes/vendor_header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<section class="section container py-5">
    <h1 class="h1">Blog</h1>
    <div class="row">
	<div class="col-md-9">
	    <!-- post 1 -->
	    <article class="post">
		<div class="post-img">
		    <img src="/uploads/post-1-841x337.jpg" alt="post-1">
		</div>
		<div class="post-content">
		    <h2 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
		    <div class="meta">
			<div class="avatar">
			    <img src="/uploads/john-doe-avatar.png" alt="JOHN DOE">
			</div>
			<a href="#" class="author">JOHN DOE</a>
			<div class="date">OCTOBER 22</div>
		    </div>
		    <div class="excerpt">Aenean a neque ligula. Pellentesque tempus id sapien a elementum. Aliquam id magna quis eros interdum egestas. Proin neque ex, faucibus eget malesuada a, faucibus ac urna. Fusce ex erat, porta sit amet pharetra quis, imperdiet et enim. Suspend potenti. Sed eu ipsum felis. enim sapien, molestie vitae imperdiet at, placerat imperdiet velit.</div>
		    <div class="post-footer">
			<div class="social">
			    <ul class="nav">
				<li><a href="#"><svg class="icon"><use xlink:href="#facebook-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#google-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#instagram-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#linked-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#pinterest-logo"></use></svg></a></li>
			    </ul>
			</div>
			<div class="info">
			      <ul class="nav">
				  <li class="likes"><a href="#">12 <svg class="icon"><use xlink:href="#heart"></use></svg></a></li>
				  <li class="comments"><a href="#">0 <svg class="icon"><use xlink:href="#comments"></use></svg></a></li>
			    </ul>
			</div>
		    </div>
		</div>
	    </article>
	    <!-- post 2 -->
	    <article class="post">
		<div class="post-img">
		    <img src="/uploads/post-2-841x337.jpg" alt="post-2">
		</div>
		<div class="post-content">
		    <h2 class="title">Lorem ipsum dolor. </h2>
		    <div class="meta">
			<div class="avatar">
			    <img src="/uploads/john-doe-avatar.png" alt="JOHN DOE">
			</div>
			<a href="#" class="author">JOHN DOE</a>
			<div class="date">OCTOBER 22</div>
		    </div>
		    <div class="excerpt">Aenean a neque ligula. Pellentesque tempus id sapien a elementum. Aliquam id magna quis eros interdum egestas. Proin neque ex, faucibus eget malesuada a, faucibus ac urna. Fusce ex erat, porta sit amet pharetra quis, imperdiet et enim. Suspend potenti. Sed eu ipsum felis. enim sapien, molestie vitae imperdiet at, placerat imperdiet velit.</div>
		    <div class="post-footer">
			<div class="social">
			    <ul class="nav">
				<li><a href="#"><svg class="icon"><use xlink:href="#facebook-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#google-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#instagram-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#linked-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#pinterest-logo"></use></svg></a></li>
			    </ul>
			</div>
			<div class="info">
			      <ul class="nav">
				  <li class="likes"><a href="#">12 <svg class="icon"><use xlink:href="#heart"></use></svg></a></li>
				  <li class="comments"><a href="#">0 <svg class="icon"><use xlink:href="#comments"></use></svg></a></li>
			    </ul>
			</div>
		    </div>
		</div>
	    </article>
	    <!-- post 3 -->
	    <article class="post">
		<div class="post-img">
		    <img src="/uploads/post-3-841x337.jpg" alt="post-3">
		</div>
		<div class="post-content">
		    <h2 class="title">Consectetur adipiscing elit. </h2>
		    <div class="meta">
			<div class="avatar">
			    <img src="/uploads/john-doe-avatar.png" alt="JOHN DOE">
			</div>
			<a href="#" class="author">JOHN DOE</a>
			<div class="date">OCTOBER 22</div>
		    </div>
		    <div class="excerpt">Aenean a neque ligula. Pellentesque tempus id sapien a elementum. Aliquam id magna quis eros interdum egestas. Proin neque ex, faucibus eget malesuada a, faucibus ac urna. Fusce ex erat, porta sit amet pharetra quis, imperdiet et enim. Suspend potenti. Sed eu ipsum felis. enim sapien, molestie vitae imperdiet at, placerat imperdiet velit.</div>
		    <div class="post-footer">
			<div class="social">
			    <ul class="nav">
				<li><a href="#"><svg class="icon"><use xlink:href="#facebook-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#google-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#instagram-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#linked-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#pinterest-logo"></use></svg></a></li>
			    </ul>
			</div>
			<div class="info">
			      <ul class="nav">
				  <li class="likes"><a href="#">12 <svg class="icon"><use xlink:href="#heart"></use></svg></a></li>
				  <li class="comments"><a href="#">0 <svg class="icon"><use xlink:href="#comments"></use></svg></a></li>
			    </ul>
			</div>
		    </div>
		</div>
	    </article>
	     <!-- post 4 -->
	    <article class="post">
		<div class="post-img">
		    <img src="/uploads/post-4-841x337.jpg" alt="post-3">
		</div>
		<div class="post-content">
		    <h2 class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h2>
		    <div class="meta">
			<div class="avatar">
			    <img src="/uploads/john-doe-avatar.png" alt="JOHN DOE">
			</div>
			<a href="#" class="author">JOHN DOE</a>
			<div class="date">OCTOBER 22</div>
		    </div>
		    <div class="excerpt">Aenean a neque ligula. Pellentesque tempus id sapien a elementum. Aliquam id magna quis eros interdum egestas. Proin neque ex, faucibus eget malesuada a, faucibus ac urna. Fusce ex erat, porta sit amet pharetra quis, imperdiet et enim. Suspend potenti. Sed eu ipsum felis. enim sapien, molestie vitae imperdiet at, placerat imperdiet velit.</div>
		    <div class="post-footer">
			<div class="social">
			    <ul class="nav">
				<li><a href="#"><svg class="icon"><use xlink:href="#facebook-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#google-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#instagram-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#linked-logo"></use></svg></a></li>
				<li><a href="#"><svg class="icon"><use xlink:href="#pinterest-logo"></use></svg></a></li>
			    </ul>
			</div>
			<div class="info">
			      <ul class="nav">
				  <li class="likes"><a href="#">12 <svg class="icon"><use xlink:href="#heart"></use></svg></a></li>
				  <li class="comments"><a href="#">0 <svg class="icon"><use xlink:href="#comments"></use></svg></a></li>
			    </ul>
			</div>
		    </div>
		</div>
	    </article>
	</div>
	<div class="col-md-3">
	    <div class="card card-body">

	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/vendor_footer.html').default)(data) %>