<% var data = {
title: "Category page | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<section class="section">
    <div class="container">
	<nav aria-label="breadcrumb">
	    <ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="index.html">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Refurbished iPhone</li>
	    </ol>
	</nav>
	<h1 class="h1">Refurbished iPhone</h1>
	<div class="card card-body pb-lg-4 mb-3">
	    <p class="fsz-16">I need a phone that works with ...</p>
	    <div class="row justify-content-md-between">
		<div class="col-12 col-md-6">
		    <div class="form-row">
			<div class="col-4 col-lg-5-12">
			    <div class="form-card">
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="rogers-check">
				    <label class="custom-control-label" for="rogers-check"><img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers"></label>
				</div>
			    </div>
			</div>
			<div class="col-4 col-lg-5-12">
			    <div class="form-card">
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="bell-check">
				    <label class="custom-control-label" for="bell-check"><img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell"></label>
				</div>
			    </div>
			</div>
			<div class="col-4 col-lg-5-12">
			    <div class="form-card">
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="telus-check">
				    <label class="custom-control-label" for="telus-check"><img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus"></label>
				</div>
			    </div>
			</div>
			<div class="col-4 col-lg-5-12">
			    <div class="form-card">
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="fido-check">
				    <label class="custom-control-label" for="fido-check"><img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido"></label>
				</div>
			    </div>
			</div>
			<div class="col-4 col-lg-5-12">
			    <div class="form-card">
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="koodo-check">
				    <label class="custom-control-label" for="koodo-check"><img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo"></label>
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<div class="col-12 col-md-4 col-lg-3 ">
		    <div class="pl-md-2">
			<select class=" form-control">
			    <option>Locked or Unlocked</option>
			    <option>Locked</option>
			    <option>Unlocked</option>
			</select>
		    </div>
		</div>
	    </div>
	</div>
	<div class="row">
	    <div class="col-12 col-md-8 col-lg-9">
		<div class="card card-body single-product">
		    <p class="fsz-16 mb-3">Our very best Refurbished iPhone:</p>
		    <div class="row">
			<div class="col-12 product-imgs">
			    <img src="./uploads/single-product-278x378.png" alt="iPhone XS 256GB, Space Gray Unlocked">
			</div>
			<div class="col-12 product-details">
			    <h2 class="title">iPhone XS 256GB, Space Gray Unlocked</h2>
			    <div class="networks">
				<div class="info">Works with:</div>
				<div class="row">
				    <div class="col">
					<div class="network">
					    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers" class="mCS_img_loaded">
					</div>
				    </div>
				    <div class="col">
					<div class="network">
					    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell" class="mCS_img_loaded">
					</div>
				    </div>
				    <div class="col">
					<div class="network">
					    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus" class="mCS_img_loaded">
					</div>
				    </div>
				    <div class="col">
					<div class="network">
					    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido" class="mCS_img_loaded">
					</div>
				    </div>
				    <div class="col">
					<div class="network">
					    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo" class="mCS_img_loaded">
					</div>
				    </div>
				</div>
			    </div>
			    <div class="rating mb-2">
				<svg class="icon"><use xlink:href="#star"></use></svg>
				<svg class="icon"><use xlink:href="#star"></use></svg>
				<svg class="icon"><use xlink:href="#star"></use></svg>
				<svg class="icon"><use xlink:href="#star"></use></svg>
				<svg class="icon"><use xlink:href="#star-half"></use></svg>
			    </div>
			    <div class="price">$192.00 <span class="old">$649.00</span></div>
			    <div class="features">
				<div class="color">
				    <div class="color-variant">
					<i class="color-black"></i>
				    </div>
				    <div class="color-variant active">
					<i class="color-gray"></i>
				    </div>
				    <div class="color-variant">
					<i class="color-beige"></i>
				    </div>
				</div>
				<div class="memory">
				    <span>128 GB</span>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col-12 col-md-4 col-lg-3 ">
		<div class="card card-body">
		    <div class="rating mb-2">
			<span class="mr-2">4.5/5</span>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star-half"></use></svg>
		    </div>
		    <p class="fsz-11 mb-4">Average of 3323 reviews from the past 6 months.</p>
		</div>
	    </div>
	</div>
	<div class="featured-products mt-3">
	    <h2 class="h2">Featured Products</h2>
	    <div class="row ">
		<!-- Product 1 -->
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
		    <%= _.template(require('./../includes/product.html').default)({image: "1"}) %>
		</div>
		<!-- Product 2 -->
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
		    <%= _.template(require('./../includes/product.html').default)({image: "2"}) %>
		</div>
		<!-- Product 3 -->
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
		    <%= _.template(require('./../includes/product.html').default)({image: "3"}) %>
		</div>
		<!-- Product 4 -->
		<div class="col-12 col-sm-6 col-md-4 col-lg-3">
		    <%= _.template(require('./../includes/product.html').default)({image: "4"}) %>
		</div>
	    </div>
	</div> <!-- .featured-products -->
	<div class="category-list">
	    <div class="row sort-block">
		<div class="col-md-6 my-3">
		    <div class="form-inline">
			<label class="mr-2">SORT BY:</label>
			<select class="form-control" style="min-width: 18rem">
			    <option>Best sales</option>
			    <option>New</option>
			    <option>Price</option>
			</select>
		    </div>
		</div>
		<div class="col-md-6 d-md-none mb-3">
		    <button class="btn btn-primary" data-toggle="collapse" data-target=".product-filters">Category Filters</button>
		</div>
	    </div>
	    <div class="row ">
		<div class="col-12 col-md-4 col-lg-3 ">
		    <div class="product-filters collapse">
			<div class="product-filter">
			    <p class="fsz-16">3312 products</p>
			    <p><u><a href="#" class="fsz-12">Clear all filters</a></u></p>
			    <div class="form-group">
				<h4 class="font-weight-bold">MAX PRICE: $1330</h4>
				<div class="range-values">
				    <div class="min">$37</div>
				    <div class="current">$<span id="priceRangeValue">500</span></div>
				</div>
				<input type="range" class="custom-range" min="37" max="1330" value="500" id="priceRange">
			    </div>
			</div>
			<div class="product-filter">
			    <h4 class="filter-title">Delivered in business days</h4>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="business-days-1" checked>
				<label class="custom-control-label" for="business-days-1">All</label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="business-days-2">
				<label class="custom-control-label" for="business-days-2">One day <span class="count">202</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="business-days-3">
				<label class="custom-control-label" for="business-days-3">Two days <span class="count">2638</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="business-days-4">
				<label class="custom-control-label" for="business-days-4">Three days<span class="count">3111</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="business-days-5">
				<label class="custom-control-label" for="business-days-5">More than three days<span class="count">201</span></label>
			    </div>
			</div>
			<div class="product-filter"> <!-- Model -->
			    <h4 class="filter-title">Model</h4>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-model-1" checked>
				<label class="custom-control-label" for="filter-model-1">All</label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-model-2">
				<label class="custom-control-label" for="filter-model-2">iPhone 11<span class="count">346</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-model-3">
				<label class="custom-control-label" for="filter-model-3">iPhone 11 Pro<span class="count">375</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-model-4">
				<label class="custom-control-label" for="filter-model-4">iPhone 11 Pro Max<span class="count">257</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-model-5">
				<label class="custom-control-label" for="filter-model-5">iPhone XS<span class="count">185</span></label>
			    </div>
			    <div class="more-filter-block" style="display: none;">
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-6">
				    <label class="custom-control-label" for="filter-model-6">iPhone XS Max<span class="count">54</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-7">
				    <label class="custom-control-label" for="filter-model-7">iPhone XR<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-8">
				    <label class="custom-control-label" for="filter-model-8">iPhone X<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-9">
				    <label class="custom-control-label" for="filter-model-9">iPhone 8<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-10">
				    <label class="custom-control-label" for="filter-model-10">iPhone 8 Plus<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-11">
				    <label class="custom-control-label" for="filter-model-11">iPhone 7<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-12">
				    <label class="custom-control-label" for="filter-model-12">iPhone 7 Plus<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-13">
				    <label class="custom-control-label" for="filter-model-13">iPhone SE<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-14">
				    <label class="custom-control-label" for="filter-model-14">iPhone 6s<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-15">
				    <label class="custom-control-label" for="filter-model-15">iPhone 6s Plus<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-16">
				    <label class="custom-control-label" for="filter-model-16">iPhone 6<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-17">
				    <label class="custom-control-label" for="filter-model-17">iPhone 6 Plus<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-18">
				    <label class="custom-control-label" for="filter-model-18">iPhone 5C<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-19">
				    <label class="custom-control-label" for="filter-model-19">iPhone 5s<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-model-20">
				    <label class="custom-control-label" for="filter-model-20">iPhone 5<span class="count">53</span></label>
				</div>
			    </div>
			    <a href="#" class="more-filters-show">+ More</a>
			</div> <!-- Model -->
			<div class="product-filter"> <!-- I want a phone for... -->
			    <h4 class="filter-title">I want a phone for...</h4>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-want-phone-1" checked>
				<label class="custom-control-label" for="filter-want-phone-1">All</label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-want-phone-2">
				<label class="custom-control-label" for="filter-want-phone-2">Rogers<span class="count">346</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-want-phone-3">
				<label class="custom-control-label" for="filter-want-phone-3">Bell<span class="count">375</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-want-phone-4">
				<label class="custom-control-label" for="filter-want-phone-4">Telus<span class="count">257</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-want-phone-5">
				<label class="custom-control-label" for="filter-want-phone-5">Fido<span class="count">185</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-want-phone-6">
				<label class="custom-control-label" for="filter-want-phone-6">Koodo <span class="count">54</span></label>
			    </div>
			    <div class="more-filter-block" style="display: none;">
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-want-phone-7">
				    <label class="custom-control-label" for="filter-want-phone-7">Bell 2<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-want-phone-8">
				    <label class="custom-control-label" for="filter-want-phone-8">Telus 2<span class="count">53</span></label>
				</div>
			    </div>
			    <a href="#" class="more-filters-show">+ More</a>
			</div> <!-- I want a phone for... -->
			<div class="product-filter"> <!-- ... And that is  -->
			    <h4 class="filter-title">... And that is </h4>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-and-that-1" checked>
				<label class="custom-control-label" for="filter-and-that-1">All</label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-and-that-2">
				<label class="custom-control-label" for="filter-and-that-2">Locked or Unlocked<span class="count">3312</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-and-that-3">
				<label class="custom-control-label" for="filter-and-that-3">Unlocked only<span class="count">1437</span></label>
			    </div>
			</div> <!-- ... And that is  -->
			<div class="product-filter"> <!-- Storage (GB) -->
			    <h4 class="filter-title">Storage (GB)</h4>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-storage-1" checked>
				<label class="custom-control-label" for="filter-storage-1">All</label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-storage-2">
				<label class="custom-control-label" for="filter-storage-2">16 GB <span class="count">346</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-storage-3">
				<label class="custom-control-label" for="filter-storage-3">32 GB <span class="count">375</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-storage-4">
				<label class="custom-control-label" for="filter-storage-4">64 GB<span class="count">257</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-storage-5">
				<label class="custom-control-label" for="filter-storage-5">128 GB<span class="count">185</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-storage-6">
				<label class="custom-control-label" for="filter-storage-6">256 GB<span class="count">54</span></label>
			    </div>
			    <div class="more-filter-block" style="display: none;">
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-storage-7">
				    <label class="custom-control-label" for="filter-storage-7">512 GB<span class="count">53</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-storage-8">
				    <label class="custom-control-label" for="filter-storage-8">1024 GB<span class="count">53</span></label>
				</div>
			    </div>
			    <a href="#" class="more-filters-show">+ More</a>
			</div> <!-- Storage (GB) -->
			<div class="product-filter"> <!-- Grade -->
			    <h4 class="filter-title">Grade</h4>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-grade-1" checked>
				<label class="custom-control-label" for="filter-grade-1">All</label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-grade-2">
				<label class="custom-control-label" for="filter-grade-2">Refurbished<span class="count">346</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-grade-3">
				<label class="custom-control-label" for="filter-grade-3">Grade A<span class="count">375</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-grade-4">
				<label class="custom-control-label" for="filter-grade-4">Grade B<span class="count">257</span></label>
			    </div>
			</div> <!-- Grade -->
			<div class="product-filter"> <!-- Color -->
			    <h4 class="filter-title">Color</h4>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-color-1" checked>
				<label class="custom-control-label" for="filter-color-1">All</label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-color-2">
				<label class="custom-control-label" for="filter-color-2">Space Gray<span class="count">780</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-color-3">
				<label class="custom-control-label" for="filter-color-3">Silver<span class="count">725</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-color-4">
				<label class="custom-control-label" for="filter-color-4">Gold<span class="count">704</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-color-5">
				<label class="custom-control-label" for="filter-color-5">Rose Gold<span class="count">426</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-color-6">
				<label class="custom-control-label" for="filter-color-6">Black<span class="count">220</span></label>
			    </div>
			    <div class="more-filter-block" style="display: none;">
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-color-7">
				    <label class="custom-control-label" for="filter-color-7">Red <span class="count">179</span></label>
				</div>
				<div class="custom-control custom-checkbox">
				    <input type="checkbox" class="custom-control-input" id="filter-color-8">
				    <label class="custom-control-label" for="filter-color-8">Blue<span class="count">53</span></label>
				</div>
			    </div>
			    <a href="#" class="more-filters-show">+ More</a>
			</div> <!-- Color -->
			<div class="product-filter"> <!-- Warranty -->
			    <h4 class="filter-title">Warranty</h4>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-warranty-1" checked>
				<label class="custom-control-label" for="filter-warranty-1">All</label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-warranty-2">
				<label class="custom-control-label" for="filter-warranty-2">12 months<span class="count">2962</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-warranty-3">
				<label class="custom-control-label" for="filter-warranty-3">24 months<span class="count">725</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-warranty-4">
				<label class="custom-control-label" for="filter-warranty-4">36 months<span class="count">304</span></label>
			    </div>
			</div> <!-- Warranty -->
			<div class="product-filter"> <!-- Method of Payment -->
			    <h4 class="filter-title">Method of Payment</h4>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-payment-1" checked>
				<label class="custom-control-label" for="filter-payment-1">All</label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-payment-2">
				<label class="custom-control-label" for="filter-payment-2">Credit card<span class="count">3312</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-payment-3">
				<label class="custom-control-label" for="filter-payment-3">PayPal<span class="count">2845</span></label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-payment-4">
				<label class="custom-control-label" for="filter-payment-4">Klarna<span class="count">7331</span></label>
			    </div>
			</div> <!-- Method of Payment -->
			<div class="product-filter"> <!-- Free shipping -->
			    <h4 class="filter-title">Free shipping</h4>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-shipping-1" checked>
				<label class="custom-control-label" for="filter-shipping-1">All</label>
			    </div>
			    <div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="filter-shipping-2">
				<label class="custom-control-label" for="filter-shipping-2">Credit card<span class="count">3312</span></label>
			    </div>
			</div> <!-- Free shipping -->
		    </div>
		</div>
		<div class="col-12 col-md-8 col-lg-9">
		    <div class="row">
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "1"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "2"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "3"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "4"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "5"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "6"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "7"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "8"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "1"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "2"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "3"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "4"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "5"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "6"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "7"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "8"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "1"}) %>
			</div>
			<div class="col-12 col-sm-6 col-lg-4">
			    <%= _.template(require('./../includes/product.html').default)({image: "2"}) %>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="mt-4">
		<nav aria-label="Page navigation">
		    <ul class="pagination">
			<li class="page-item active"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">4</a></li>
			<li class="page-item"><a class="page-link" href="#">5</a></li>
			<li class="page-item"><a class="page-link" href="#">...</a></li>
			<li class="page-item"><a class="page-link" href="#">33</a></li>
			<li class="page-item">
			    <a class="page-link" href="#" aria-label="Next">
				<span aria-hidden="true">&gt;</span>
			    </a>
			</li>
		    </ul>
		</nav>
	    </div>
	</div> <!-- .category-list -->
	<div class="customer-reviews mt-4">
	    <h2 class="h2">Customer reviews for our Refurbished iPhone</h2>
	    <div class="row">
		<div class="col-12 col-lg-3 ">
		    <div class="card card-body">
			<div class="rating mb-3">
			    <span class="mr-2">4.5/5</span>
			    <svg class="icon"><use xlink:href="#star"></use></svg>
			    <svg class="icon"><use xlink:href="#star"></use></svg>
			    <svg class="icon"><use xlink:href="#star"></use></svg>
			    <svg class="icon"><use xlink:href="#star"></use></svg>
			    <svg class="icon"><use xlink:href="#star-half"></use></svg>
			</div>
			<p class="fsz-11 mb-4">Average of 3323 reviews from the past 6 months.</p>
			<div class="rating-statistic mb-md-4">
			    <div class="item">
				<div class="stars">4/5 <span class="fsz-12">stars</span></div>
				<div class="progress">
				    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="percent">85%</div>
			    </div>
			    <div class="item">
				<div class="stars">3/4 <span class="fsz-12">stars</span></div>
				<div class="progress">
				    <div class="progress-bar" role="progressbar" style="width: 8%" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="percent">8%</div>
			    </div>
			    <div class="item">
				<div class="stars">2/3 <span class="fsz-12">stars</span></div>
				<div class="progress">
				    <div class="progress-bar" role="progressbar" style="width: 4%" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="percent">4%</div>
			    </div>
			    <div class="item">
				<div class="stars">1/2 <span class="fsz-12">stars</span></div>
				<div class="progress">
				    <div class="progress-bar" role="progressbar" style="width: 3%" aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
				<div class="percent">3%</div>
			    </div>
			</div>
		    </div>
		</div>
		<div class="col-12 col-lg-9 gap-md">
		    <div class="card reviews-list">
			<ul class="list-group list-group-flush">
			    <li class="list-group-item">
				<div class="row row-35">
				    <div class="col-md-3">
					<div class="info">
					    <div class="thumbnail">
						<img src="./uploads/device-150x170-8.png" alt="iPhone XS 256GB">
					    </div>
					    <div class="col-auto">
						<div class="author">Alexandra S.</div>
						<div class="date">2 weeks ago</div>
					    </div>
					</div>
					<div class="rating mb-3">
					    <span class="mr-2">4.5/5</span>
					    <svg class="icon"><use xlink:href="#star"></use></svg>
					    <svg class="icon"><use xlink:href="#star"></use></svg>
					    <svg class="icon"><use xlink:href="#star"></use></svg>
					    <svg class="icon"><use xlink:href="#star"></use></svg>
					    <svg class="icon"><use xlink:href="#star-half"></use></svg>
					</div>
				    </div>
				    <div class="col-md-9">
					<p class="qoute">My refurbished iPhone XS is perfect thus far. I haven’t had one issue with it, use it consistently every day, and got it at a much cheaper rate than apple or other vendors and with the assurance I could deal with any technical problems (which I fortunately haven’t had).<br>
					    Highly recommend.</p>
					<p><a href="#">Show more</a></p>
					<div class="row review-details">
					    <div class="col-sm-4 col-6">
						<div class="detail">
						    <div class="title">Quality-price ratio</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
						<div class="detail">
						    <div class="title">Accessories</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
						<div class="detail">
						    <div class="title">Packaging and cleanliness</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
					    </div>
					    <div class="col-sm-4 col-6">
						<div class="detail">
						    <div class="title">Overall performance</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
						<div class="detail">
						    <div class="title">Battery</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
						<div class="detail">
						    <div class="title">Shipping</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
					    </div>
					    <div class="col-sm-4 col-6">
						<div class="detail">
						    <div class="title">Outside Appearance</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
						<div class="detail">
						    <div class="title">Lens & Camera</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
					    </div>
					</div>
				    </div>
				</div>
			    </li>
			    <li class="list-group-item">
				<div class="row row-35">
				    <div class="col-md-3">
					<div class="info">
					    <div class="thumbnail">
						<img src="./uploads/device-150x170-8.png" alt="iPhone XS 256GB">
					    </div>
					    <div class="col-auto">
						<div class="author">Alexandra S.</div>
						<div class="date">2 weeks ago</div>
					    </div>
					</div>
					<div class="rating mb-3">
					    <span class="mr-2">4.5/5</span>
					    <svg class="icon"><use xlink:href="#star"></use></svg>
					    <svg class="icon"><use xlink:href="#star"></use></svg>
					    <svg class="icon"><use xlink:href="#star"></use></svg>
					    <svg class="icon"><use xlink:href="#star"></use></svg>
					    <svg class="icon"><use xlink:href="#star-half"></use></svg>
					</div>
				    </div>
				    <div class="col-md-9">
					<p class="qoute">My refurbished iPhone XS is perfect thus far. I haven’t had one issue with it, use it consistently every day, and got it at a much cheaper rate than apple or other vendors and with the assurance I could deal with any technical problems (which I fortunately haven’t had).<br>
					    Highly recommend.</p>
					<p><a href="#">Show more</a></p>
					<div class="row review-details">
					    <div class="col-sm-4 col-6">
						<div class="detail">
						    <div class="title">Quality-price ratio</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
						<div class="detail">
						    <div class="title">Accessories</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
						<div class="detail">
						    <div class="title">Packaging and cleanliness</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
					    </div>
					    <div class="col-sm-4 col-6">
						<div class="detail">
						    <div class="title">Overall performance</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
						<div class="detail">
						    <div class="title">Battery</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
						<div class="detail">
						    <div class="title">Shipping</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
					    </div>
					    <div class="col-sm-4 col-6">
						<div class="detail">
						    <div class="title">Outside Appearance</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
						<div class="detail">
						    <div class="title">Lens & Camera</div>
						    <div class="rating">
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star"></use></svg>
							<svg class="icon"><use xlink:href="#star-half"></use></svg>
						    </div>
						</div>
					    </div>
					</div>
				    </div>
				</div>
			    </li>
			</ul>
		    </div>
		</div>
	    </div>
	</div> <!-- .customer-reviews -->
    </div> <!-- .container -->
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>