<% var data = {
title: "Enterprise trade-in | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="page-header bg-1">
    <h1 class="h1">Enterprise Trade-in</h1>
</div>
<section class="section container">
    <form>
	<div class="row row-100">
	    <div class="col-md-6">
		<h2 class="h2">Your Contact information</h2>
		<div class="form-group">
		    <label>First name*</label>
		    <input type="text" class="form-control form-control-lg">
		</div>
		<div class="form-group">
		    <label>Last name*</label>
		    <input type="text" class="form-control form-control-lg">
		</div>
		<div class="form-group">
		    <label>Enter email*</label>
		    <input type="email" class="form-control form-control-lg">
		</div>
		<div class="form-group">
		    <label>Phone Number*</label>
		    <div class="input-group input-group-lg">
			<div class="input-group-append">
			    <select class="form-control form-control-lg">
				<option>Can +1</option>
				<option>Can +2</option>
				<option>Can +3</option>
				<option>Can +4</option>
			    </select>
			</div>
			<div class="custome-placeholder">
			    <input type="text" class="form-control form-control-lg" required="required">
			    <div class="placeholder"><span class="text-muted">Phone number - optional</span><br><span>000-000-0000</span></div>
			</div>
		    </div>
		</div>
		<div class="form-group">
		    <label>Company/Organization*</label>
		    <input type="text" class="form-control form-control-lg">
		</div>
		<div class="form-group">
		    <label>Additional Information <span class="font-weight-normal">(optional)</span></label>
		    <textarea rows="10" class="form-control"></textarea>
		</div>
	    </div>
	    <div class="col-md-6">
		<h2 class="h2">What Do You Have to Sell <small>(optional)</small></h2>
		<div class="form-group">
		    <label>Device Type</label>
		    <select class="form-control form-control-lg">
			<option>Please choose</option>
			<option>Device Type</option>
			<option>Device Type</option>
			<option>Device Type</option>
			<option>Device Type</option>
		    </select>
		</div>
		<div class="form-group">
		    <label>Condition</label>
		    <select class="form-control form-control-lg">
			<option>Please choose</option>
			<option>Condition</option>
			<option>Condition</option>
			<option>Condition</option>
			<option>Condition</option>
		    </select>
		</div>
		<div class="form-group">
		    <label>Quantity</label>
		    <input type="text" class="form-control form-control-lg">
		</div>
		<div class="form-group">
		    <button type="button" class="btn btn-link btn-add-more"><svg class="icon"><use xlink:href="#plus"></use></svg>Add more devices</button>
		</div>
		<div class="form-group">
		    <button type="button" class="btn btn-secondary btn-lg btn-block">Submit</button>
		</div>
	    </div>
	</div>
    </form>
</section>


<%= _.template(require('./../includes/footer.html').default)(data) %>