<% var data = {
title: "Home | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="home-banner">
    <div class="container">
	<div class="row">
	    <div class="col-md-6 align-self-center">
		<h1 class="h1">iPhone 8</h1>
		<p class="mb-4">0 - day money back guarantee<br>
1-year minimum warranty</p>
		<button type="button" class="btn btn-light btn-lg">Buy now</button>
	    </div>
	</div>
    </div>
</div>
<section class="section">
    <div class="container">
	<h2 class="h2">Shop by category</h2>
	<div class="row">
	    <div class="col-md-6">
		<a href="#" class="card card-body category">
		    <div class="img">
			<img src="./uploads/category-1.png" alt="Btech">
		    </div>
		    <div class="text">
			<h3 class="title h2">iPad</h3>
			<div class="description">Curabitur consequat. Vivamus fini blandit maur vestibulum tempus.</div>
		    </div>
		</a>
	    </div>
	    <div class="col-md-6">
		<a href="#" class="card card-body category">
		    <div class="img">
			<img src="./uploads/category-2.png" alt="Btech">
		    </div>
		    <div class="text">
			<h3 class="title h2">iPhone</h3>
			<div class="description">Curabitur consequat. Vivamus fini blandit maur vestibulum tempus.</div>
		    </div>
		</a>
	    </div>
	    <div class="col-md-6">
		<a href="#" class="card card-body category">
		    <div class="img">
			<img src="./uploads/category-3.png" alt="Btech">
		    </div>
		    <div class="text">
			<h3 class="title h2">Macbook</h3>
			<div class="description">Curabitur consequat. Vivamus fini blandit maur vestibulum tempus.</div>
		    </div>
		</a>
	    </div>
	    <div class="col-md-6">
		<a href="#" class="card card-body category">
		    <div class="img">
			<img src="./uploads/category-4.png" alt="Btech">
		    </div>
		    <div class="text">
			<h3 class="title h2">Samsung</h3>
			<div class="description">Curabitur consequat. Vivamus fini blandit maur vestibulum tempus.</div>
		    </div>
		</a>
	    </div>
	</div>
	<div class="home-about">
	    <div class="row row-35">
		<div class="col-md-12 col-lg-4">
		    <div class="logo">
			<img src="./img/main-logo.png" srcset="./img/retina/main-logo-2x.png 2x" alt="Btech">
		    </div>  
		</div>
		<div class="col-11 col-md-5 col-lg-4 pt-md-4 pb-md-3">
		    <div class="same-height-md clearfix">
			<h2 class="h2">About bTech Market</h2>
			<p style="max-width: 300px">Quisque ultricies, mi eget ultricies suscipit, lectus enim ultricies quam, tristique feugiat eros eros at enim. Duis at diam aliquet, euismod nulla vitae, scelerisque sapien. Nunc a orci eu ligula sollicitudin tincidunt iaculis eu nulla. Nunc neque arcu, ftum at urna vitae, euismod finibus nulla. Integer rutrum mauris sit amet porta volutpat. Quisque ultrices, ipsum placerat dictum scelerisque, elit sem blandit nislue sapien. </p>
		    </div>
		    <p class="mt-3"><button type="button" class="btn btn-light">Read more</button></p>
		</div>
		<div class="col-11 col-md-5 col-lg-4 pt-md-4 pb-md-3">
		    <div class="same-height-md">
			<div class="row my-3">
			    <div class="col-2">
				<img src="./img/home-about-1.png" srcset="./img/retina/home-about-1-2x.png 2x" alt="1">
			    </div>
			    <div class="col-9 fsz-12">Vivamus vulputate auctor eros, ut euismod libero iaculis non. Aenean non dui vel nunc bibendum blandit faucibus non purus.</div>
			</div>
			<div class="row mb-3">
			    <div class="col-2">
				<img src="./img/home-about-2.png" srcset="./img/retina/home-about-2-2x.png 2x" alt="2">
			    </div>
			    <div class="col-9 fsz-12">Vivamus vulputate auctor eros, ut euismod libero iaculis non. Aenean non dui vel nunc bibendum blandit faucibus non purus.</div>
			</div>
			<div class="row">
			    <div class="col-2">
				<img src="./img/home-about-3.png" srcset="./img/retina/home-about-3-2x.png 2x" alt="3">
			    </div>
			    <div class="col-9 fsz-12">Vivamus vulputate auctor eros, ut euismod libero iaculis non. Aenean non dui vel nunc bibendum blandit faucibus non purus.</div>
			</div>
		    </div>
		    <p class="mt-3"><button type="button" class="btn btn-light">See our FAQ</button></p>
		</div>
	    </div>
	</div>
	<h2 class="h2">Featured Products</h2>
	<div class="row ">
	    <!-- Product 1 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 2 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-2.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 3 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-3.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 4 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-4.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 5 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-5.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 6 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-6.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 7 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 8 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-8.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	</div>
	<h2 class="h2">Best Sellers</h2>
	<div class="row ">
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body device-tmpl-2">
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-info">
			<a href="#">
			    <h3 class="device-title">iPhone XS 256GB Space Gray Unlocked</h3>
			</a>
			<div class="grade">Grade: Refurbished</div>
			<div class="price">$192.00</div>
		    </div>
		</div>
	    </div>
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body device-tmpl-2">
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-150x170-5.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-info">
			<a href="#">
			    <h3 class="device-title">iPhone XS 256GB Space Gray Unlocked</h3>
			</a>
			<div class="grade">Grade: Refurbished</div>
			<div class="price">$192.00</div>
		    </div>
		</div>
	    </div>
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body device-tmpl-2">
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-150x170-3.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-info">
			<a href="#">
			    <h3 class="device-title">iPhone XS 256GB Space Gray Unlocked</h3>
			</a>
			<div class="grade">Grade: Refurbished</div>
			<div class="price">$192.00</div>
		    </div>
		</div>
	    </div>
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body device-tmpl-2">
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-150x170-2.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-info">
			<a href="#">
			    <h3 class="device-title">iPhone XS 256GB Space Gray Unlocked</h3>
			</a>
			<div class="grade">Grade: Refurbished</div>
			<div class="price">$192.00</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>