<% var data = {
title: "Home | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>

<section class="section">
    <div class="container">
	<h2 class="h2">Featured Products</h2>
	<div class="row ">
	    <!-- Product 1 -->
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 2 -->
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-2.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 3 -->
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-3.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 4 -->
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-4.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 5 -->
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-5.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 6 -->
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-6.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 7 -->
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 8 -->
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-8.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	</div>
	<h2 class="h2">Best Sellers</h2>
	<div class="row ">
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body device-tmpl-2">
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-info">
			<a href="#">
			    <h3 class="device-title">iPhone XS 256GB Space Gray Unlocked</h3>
			</a>
			<div class="grade">Grade: Refurbished</div>
			<div class="price">$192.00</div>
		    </div>
		</div>
	    </div>
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body device-tmpl-2">
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-150x170-5.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-info">
			<a href="#">
			    <h3 class="device-title">iPhone XS 256GB Space Gray Unlocked</h3>
			</a>
			<div class="grade">Grade: Refurbished</div>
			<div class="price">$192.00</div>
		    </div>
		</div>
	    </div>
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body device-tmpl-2">
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-150x170-3.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-info">
			<a href="#">
			    <h3 class="device-title">iPhone XS 256GB Space Gray Unlocked</h3>
			</a>
			<div class="grade">Grade: Refurbished</div>
			<div class="price">$192.00</div>
		    </div>
		</div>
	    </div>
	    <div class="col-12 col-sm-6 col-lg-3">
		<div class="card card-body device-tmpl-2">
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-150x170-2.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-info">
			<a href="#">
			    <h3 class="device-title">iPhone XS 256GB Space Gray Unlocked</h3>
			</a>
			<div class="grade">Grade: Refurbished</div>
			<div class="price">$192.00</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>