<% var data = {
title: "Inventory | Btech",
}; %>
<%= _.template(require('./../includes/vendor_header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="page-header">
    <h1 class="h1">Inventory</h1>
</div>
<section class="section">
    <div class="container">
	<div class="row">
	    <div class="col-md-8">
		<div class="card">
		    <div class="card-header">
			<h2 class="h5">John Doe's Product list</h2>
		    </div>
		    <ul class="list-group list-group-flush scroll-y">
			<li class="list-group-item">Cras justo odio</li>
			<li class="list-group-item">Dapibus ac facilisis in</li>
			<li class="list-group-item">Vestibulum at eros</li>
		    </ul>
		</div>
	    </div>
	    <div class="col-md-4 gap-sm">
		<div class="card">
		    <div class="card-header">
			<h2 class="h5">Vendor List</h2>
		    </div>
		    <ul class="list-group list-group-flush scroll-y">
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item active">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
		    </ul>
		</div>
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/vendor_footer.html').default)(data) %>