<% var data = {
title: "Inventory | Btech",
}; %>
<%= _.template(require('./../includes/vendor_header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="page-header">
    <h1 class="h1">Inventory</h1>
</div>
<section class="section">
    <div class="container">
	<div class="row ">
	    <!-- Product 1 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 2 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-2.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 3 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-3.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 4 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-4.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 5 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-5.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 6 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-6.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 7 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 8 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-8.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 9 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 10 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-2.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 11 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-3.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 12 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-4.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 13 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-5.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 14 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-6.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 15 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 16 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-8.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 17 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 18 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-2.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 19 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-3.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	    <!-- Product 20 -->
	    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
		<div class="card card-body product">
		    <div class="img">
			<a href="#">
			    <img src="./uploads/device-150x170-4.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
		    <div class="networks">
			<div class="info">Works with:</div>
			<div class="row">
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
				</div>
			    </div>
			    <div class="col">
				<div class="network">
				    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
				</div>
			    </div>
			</div>
		    </div>
		    <div class="info">Grade: Refurbished</div>
		    <div class="price">$192.00 <span class="old">$649.00</span></div>
		    <div class="info">Warranty: 12 month</div>
		</div>
	    </div>
	</div>
	<div class="mt-4">
	    <nav aria-label="Page navigation">
		<ul class="pagination">
		    <li class="page-item active"><a class="page-link" href="#">1</a></li>
		    <li class="page-item"><a class="page-link" href="#">2</a></li>
		    <li class="page-item"><a class="page-link" href="#">3</a></li>
		    <li class="page-item"><a class="page-link" href="#">4</a></li>
		    <li class="page-item"><a class="page-link" href="#">5</a></li>
		    <li class="page-item"><a class="page-link" href="#">...</a></li>
		    <li class="page-item"><a class="page-link" href="#">33</a></li>
		    <li class="page-item">
			<a class="page-link" href="#" aria-label="Next">
			    <span aria-hidden="true">&gt;</span>
			</a>
		    </li>
		</ul>
	    </nav>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/vendor_footer.html').default)(data) %>