<% var data = {
title: "Inventory | Btech",
}; %>
<%= _.template(require('./../includes/vendor_header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="page-header">
    <h1 class="h1">Inventory</h1>
</div>
<section class="section inventory">
    <div class="container">
	<div class="row">
	    <div class="col-lg-8">
		<div class="card inventory-product-list">
		    <div class="card-header">
			<h2 class="h5">John Doe's Product list</h2>
		    </div>
		    <ul class="list-group list-group-flush scroll-y">
			<li class="list-group-item product">
			    <div class="row row-35">
				<div class="col-md-3 img">
				    <a href="#">
					<img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
				    </a>
				</div>
				<div class="col-md-6 content">
				    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
				    <div class="features">
					<div class="color">
					    <div class="color-variant active">
					    <img src="./img/color-black.png" srcset="./img/retina/color-black-2x.png 2x" alt="color-black">
					    </div>
					    <div class="color-variant">
					   <img src="./img/color-gray.png" srcset="./img/retina/color-gray-2x.png 2x" alt="color-gray">
					    </div>
					    <div class="color-variant">
					 <img src="./img/color-beige.png" srcset="./img/retina/color-beige-2x.png 2x" alt="color-beige">
					    </div>
					</div>
					<div class="memory">
					    <span>128 GB</span>
					</div>
					 <div class="info">Grade: Refurbished</div>
				    </div>
				    <p class="description">Quisque ultricies, mi eget ultricies suscipit, lectus enim ultricies quam, tristique feugiat eros eros at enim. Duis at diam aliquet, euismod nulla vitae, scelerisque sapien. </p>
				    <div class="networks">
					<div class="info">Works with:</div>
					<div class="row">
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
						</div>
					    </div>
					</div>
				    </div>
				   
				    <div class="price">$192.00 <span class="old">$649.00</span></div>
				    <div class="info">Warranty: 12 month</div>
				</div>
				<div class="col-md-3 status">
				    <div>
					<h5 class="h5">Status</h5>
					<div class="form-group">
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-1" id="s1-1" value="In progress" checked>
						<label class="form-check-label" for="s1-1">
						    In progress
						</label>
					    </div>
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-1" id="s1-2" value="Sent">
						<label class="form-check-label" for="s1-2">
						    Sent
						</label>
					    </div>
					</div>
				    </div>
				    <div>
					<button type="button" class="btn btn-block btn-primary">View</button>
				    </div>
				</div>
			    </div>
			</li>
			<li class="list-group-item product">
			    <div class="row row-35">
				<div class="col-md-3 img">
				    <a href="#">
					<img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
				    </a>
				</div>
				<div class="col-md-6 content">
				    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
				    <div class="features">
					<div class="color">
					    <div class="color-variant active">
					    <img src="./img/color-black.png" srcset="./img/retina/color-black-2x.png 2x" alt="color-black">
					    </div>
					    <div class="color-variant">
					   <img src="./img/color-gray.png" srcset="./img/retina/color-gray-2x.png 2x" alt="color-gray">
					    </div>
					    <div class="color-variant">
					 <img src="./img/color-beige.png" srcset="./img/retina/color-beige-2x.png 2x" alt="color-beige">
					    </div>
					</div>
					<div class="memory">
					    <span>128 GB</span>
					</div>
					 <div class="info">Grade: Refurbished</div>
				    </div>
				    <p class="description">Quisque ultricies, mi eget ultricies suscipit, lectus enim ultricies quam, tristique feugiat eros eros at enim. Duis at diam aliquet, euismod nulla vitae, scelerisque sapien. </p>
				    <div class="networks">
					<div class="info">Works with:</div>
					<div class="row">
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
						</div>
					    </div>
					</div>
				    </div>
				   
				    <div class="price">$192.00 <span class="old">$649.00</span></div>
				    <div class="info">Warranty: 12 month</div>
				</div>
				<div class="col-md-3 status">
				    <div>
					<h5 class="h5">Status</h5>
					<div class="form-group">
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-2" id="s2-1" value="In progress" checked>
						<label class="form-check-label" for="s2-1">
						    In progress
						</label>
					    </div>
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-2" id="s2-2" value="Sent">
						<label class="form-check-label" for="s2-2">
						    Sent
						</label>
					    </div>
					</div>
				    </div>
				    <div>
					<button type="button" class="btn btn-block btn-primary">View</button>
				    </div>
				</div>
			    </div>
			</li>
			<li class="list-group-item product">
			    <div class="row row-35">
				<div class="col-md-3 img">
				    <a href="#">
					<img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
				    </a>
				</div>
				<div class="col-md-6 content">
				    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
				    <div class="features">
					<div class="color">
					    <div class="color-variant active">
					    <img src="./img/color-black.png" srcset="./img/retina/color-black-2x.png 2x" alt="color-black">
					    </div>
					    <div class="color-variant">
					   <img src="./img/color-gray.png" srcset="./img/retina/color-gray-2x.png 2x" alt="color-gray">
					    </div>
					    <div class="color-variant">
					 <img src="./img/color-beige.png" srcset="./img/retina/color-beige-2x.png 2x" alt="color-beige">
					    </div>
					</div>
					<div class="memory">
					    <span>128 GB</span>
					</div>
					 <div class="info">Grade: Refurbished</div>
				    </div>
				    <p class="description">Quisque ultricies, mi eget ultricies suscipit, lectus enim ultricies quam, tristique feugiat eros eros at enim. Duis at diam aliquet, euismod nulla vitae, scelerisque sapien. </p>
				    <div class="networks">
					<div class="info">Works with:</div>
					<div class="row">
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
						</div>
					    </div>
					</div>
				    </div>
				   
				    <div class="price">$192.00 <span class="old">$649.00</span></div>
				    <div class="info">Warranty: 12 month</div>
				</div>
				<div class="col-md-3 status">
				    <div>
					<h5 class="h5">Status</h5>
					<div class="form-group">
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-3" id="s3-1" value="In progress" checked>
						<label class="form-check-label" for="s3-1">
						    In progress
						</label>
					    </div>
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-3" id="s3-2" value="Sent">
						<label class="form-check-label" for="s3-2">
						    Sent
						</label>
					    </div>
					</div>
				    </div>
				    <div>
					<button type="button" class="btn btn-block btn-primary">View</button>
				    </div>
				</div>
			    </div>
			</li>
			<li class="list-group-item product">
			    <div class="row row-35">
				<div class="col-md-3 img">
				    <a href="#">
					<img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
				    </a>
				</div>
				<div class="col-md-6 content">
				    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
				    <div class="features">
					<div class="color">
					    <div class="color-variant active">
					    <img src="./img/color-black.png" srcset="./img/retina/color-black-2x.png 2x" alt="color-black">
					    </div>
					    <div class="color-variant">
					   <img src="./img/color-gray.png" srcset="./img/retina/color-gray-2x.png 2x" alt="color-gray">
					    </div>
					    <div class="color-variant">
					 <img src="./img/color-beige.png" srcset="./img/retina/color-beige-2x.png 2x" alt="color-beige">
					    </div>
					</div>
					<div class="memory">
					    <span>128 GB</span>
					</div>
					 <div class="info">Grade: Refurbished</div>
				    </div>
				    <p class="description">Quisque ultricies, mi eget ultricies suscipit, lectus enim ultricies quam, tristique feugiat eros eros at enim. Duis at diam aliquet, euismod nulla vitae, scelerisque sapien. </p>
				    <div class="networks">
					<div class="info">Works with:</div>
					<div class="row">
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
						</div>
					    </div>
					</div>
				    </div>
				   
				    <div class="price">$192.00 <span class="old">$649.00</span></div>
				    <div class="info">Warranty: 12 month</div>
				</div>
				<div class="col-md-3 status">
				    <div>
					<h5 class="h5">Status</h5>
					<div class="form-group">
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-4" id="s4-1" value="In progress" checked>
						<label class="form-check-label" for="s4-1">
						    In progress
						</label>
					    </div>
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-4" id="s4-2" value="Sent">
						<label class="form-check-label" for="s4-2">
						    Sent
						</label>
					    </div>
					</div>
				    </div>
				    <div>
					<button type="button" class="btn btn-block btn-primary">View</button>
				    </div>
				</div>
			    </div>
			</li>
			<li class="list-group-item product">
			    <div class="row row-35">
				<div class="col-md-3 img">
				    <a href="#">
					<img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
				    </a>
				</div>
				<div class="col-md-6 content">
				    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
				    <div class="features">
					<div class="color">
					    <div class="color-variant active">
					    <img src="./img/color-black.png" srcset="./img/retina/color-black-2x.png 2x" alt="color-black">
					    </div>
					    <div class="color-variant">
					   <img src="./img/color-gray.png" srcset="./img/retina/color-gray-2x.png 2x" alt="color-gray">
					    </div>
					    <div class="color-variant">
					 <img src="./img/color-beige.png" srcset="./img/retina/color-beige-2x.png 2x" alt="color-beige">
					    </div>
					</div>
					<div class="memory">
					    <span>128 GB</span>
					</div>
					 <div class="info">Grade: Refurbished</div>
				    </div>
				    <p class="description">Quisque ultricies, mi eget ultricies suscipit, lectus enim ultricies quam, tristique feugiat eros eros at enim. Duis at diam aliquet, euismod nulla vitae, scelerisque sapien. </p>
				    <div class="networks">
					<div class="info">Works with:</div>
					<div class="row">
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
						</div>
					    </div>
					</div>
				    </div>
				   
				    <div class="price">$192.00 <span class="old">$649.00</span></div>
				    <div class="info">Warranty: 12 month</div>
				</div>
				<div class="col-md-3 status">
				    <div>
					<h5 class="h5">Status</h5>
					<div class="form-group">
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-5" id="s5-1" value="In progress" checked>
						<label class="form-check-label" for="s5-1">
						    In progress
						</label>
					    </div>
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-5" id="s5-2" value="Sent">
						<label class="form-check-label" for="s5-2">
						    Sent
						</label>
					    </div>
					</div>
				    </div>
				    <div>
					<button type="button" class="btn btn-block btn-primary">View</button>
				    </div>
				</div>
			    </div>
			</li>
			<li class="list-group-item product">
			    <div class="row row-35">
				<div class="col-md-3 img">
				    <a href="#">
					<img src="./uploads/device-150x170-1.png" alt="iPhone XS 256GB">
				    </a>
				</div>
				<div class="col-md-6 content">
				    <h3 class="title">iPhone XS 256GB Space Gray Unlocked</h3>
				    <div class="features">
					<div class="color">
					    <div class="color-variant active">
					    <img src="./img/color-black.png" srcset="./img/retina/color-black-2x.png 2x" alt="color-black">
					    </div>
					    <div class="color-variant">
					   <img src="./img/color-gray.png" srcset="./img/retina/color-gray-2x.png 2x" alt="color-gray">
					    </div>
					    <div class="color-variant">
					 <img src="./img/color-beige.png" srcset="./img/retina/color-beige-2x.png 2x" alt="color-beige">
					    </div>
					</div>
					<div class="memory">
					    <span>128 GB</span>
					</div>
					 <div class="info">Grade: Refurbished</div>
				    </div>
				    <p class="description">Quisque ultricies, mi eget ultricies suscipit, lectus enim ultricies quam, tristique feugiat eros eros at enim. Duis at diam aliquet, euismod nulla vitae, scelerisque sapien. </p>
				    <div class="networks">
					<div class="info">Works with:</div>
					<div class="row">
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-rogers.png" srcset="./img/networks/network-rogers@2x.png 2x" alt="rogers">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-bell.png" srcset="./img/networks/network-bell@2x.png 2x" alt="Bell">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-telus.png" srcset="./img/networks/network-telus@2x.png 2x" alt="telus">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-fido.png" srcset="./img/networks/network-fido@2x.png 2x" alt="fido">
						</div>
					    </div>
					    <div class="col">
						<div class="network">
						    <img src="./img/networks/network-koodo.png" srcset="./img/networks/network-koodo@2x.png 2x" alt="koodo">
						</div>
					    </div>
					</div>
				    </div>
				   
				    <div class="price">$192.00 <span class="old">$649.00</span></div>
				    <div class="info">Warranty: 12 month</div>
				</div>
				<div class="col-md-3 status">
				    <div>
					<h5 class="h5">Status</h5>
					<div class="form-group">
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-6" id="s6-1" value="In progress" checked>
						<label class="form-check-label" for="s6-1">
						    In progress
						</label>
					    </div>
					    <div class="form-check">
						<input class="form-check-input" type="radio" name="status-6" id="s6-2" value="Sent">
						<label class="form-check-label" for="s6-2">
						    Sent
						</label>
					    </div>
					</div>
				    </div>
				    <div>
					<button type="button" class="btn btn-block btn-primary">View</button>
				    </div>
				</div>
			    </div>
			</li>
		    </ul>
		</div>
	    </div>
	    <div class="col-lg-4 gap-md">
		<div class="card">
		    <div class="card-header">
			<h2 class="h5">Vendor List</h2>
		    </div>
		    <ul class="list-group list-group-flush scroll-y">
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item active">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
			<li class="list-group-item vendor-item">
			    <a href="#">
				<h4 class="h4">John Doe</h4>
				<p>416-917-3290 <span class="sep">|</span> jonedoe@smartphones.com</p>
				<p>Toronto, Ontario, 58 Front Street</p>
			    </a>
			</li>
		    </ul>
		</div>
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/vendor_footer.html').default)(data) %>