<% var data = {
title: "Privacy Policy | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>

<div class="page-header bg-2">
    <div class="container header-search">
	<p class="heading">How can we help you?</p>
	<div class="form-group">
	    <input class="form-control" type="text" placeholder="Type keywords to find answers">
	</div>
	<p class="mt-4">You can also browse the topics below to find what you are looking for.</p>
    </div>
</div>
<section class="section">
    <div class="container">
	<div class="row">
	    <div class="col-lg-3 col-md-4">
		<h2 class="h2">Summary</h2>
		<div class="card card-body">
		    <ul class="faq-menu nav">
			<li>
			    <a href="#" class="menu-item">
				<span class="img">
				    <img src="./img/icon-faq-5.png" alt="Manage your orders">
				</span>
				<span class="text">
				    <span class="heading">Privacy Policy</span>	
				    <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>	
				</span>
			    </a>
			</li>
			<li>
			    <a href="#" class="menu-item">
				<span class="img">
				    <img src="./img/icon-faq-6.png" alt="Manage your orders">
				</span>
				<span class="text">
				    <span class="heading">Terms of service</span>	
				    <span class="description">Proin sapien lacus, consectetur vel neque</span>	
				</span>
			    </a>
			</li>
			<li>
			    <a href="#" class="menu-item">
				<span class="img">
				    <img src="./img/icon-faq-3.png" alt="Manage your orders">
				</span>
				<span class="text">
				    <span class="heading">Return policy</span>	
				    <span class="description">Nullam commodo enim vitae lacinia cursus.</span>	
				</span>
			    </a>
			</li>
			<li>
			    <a href="#" class="menu-item mb-2">
				<span class="img">
				    <img src="./img/icon-faq-7.png" alt="Manage your orders">
				</span>
				<span class="text">
				    <span class="heading">Product Warranty</span>	
				    <span class="description">Curabitur suscipit auctor interdum.</span>	
				</span>
			    </a>
			</li>
		    </ul>
		</div>
	    </div>
	    <div class="col-lg-9 col-md-8 gap-sm">
		<h2 class="h2">Privacy Policy</h2>
		<div class="card card-body text-page">
		    <h3 class="h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
		    <p class="mb-3">Duis ac libero eu massa fringilla tincidunt vitae ut est. In finibus magna erat, non vulputate ante ultrices eu. Ut ac justo elementum, dictum diam vitae, pretium turpis. Phasellus finibus porta lorem, a pellentesque lectus maximus sit amet. Integer quis ultricies erat. In pellentesque est tristique, ullamcorper dui eget, pellentesque dui. Vestibulum mollis sem nibh, non pulvinar odio imperdiet a. Aliquam malesuada id enim eget pretium. Donec at nunc turpis. Proin sapien lacus, consectetur vel neque at, semper vehicula purus. Nullam commodo enim vitae lacinia cursus. Vivamus non purus quis metus auctor tempor. Proin feugiat justo in orci auctor, in rhoncus tellus consequat.</p>
		    <h4 class="fsz-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
		    <ul class="style-check">
			<li>Duis ac libero eu massa fringilla tincidunt vitae ut est.</li>
			<li>In finibus magna erat, non vulputate ante ultrices eu. Ut ac<br> justo elementum, dictum diam vitae, pretium turpis.
			</li>
			<li>Phasellus finibus porta lorem, a pellentesque lectus maximus<br> sit amet. Integer quis ultricies erat.</li>
		    </ul>
		    <div class="row row-35">
			<div class="col-md-6">
			    <h3 class="h3">Lorem ipsum dolor sit amet.</h3>
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac libero eu massa fringilla tincidunt vitae ut est. In finibus magna erat, non vulputate ante ultrices eu. Ut ac justo elementum, dictum diam vitae, pretium turpis. Phasellus finibus porta lorem, a pellentesque lectus maximus sit amet. Integer quis ultricies erat. In pellentesque est tristique, ullamcorper dui eget, pellentesque dui. Vestibulum mollis sem nibh, non pulvinar odio imperdiet a.</p>
			</div>
			<div class="col-md-6 gap-sm">
			    <h3 class="h3">Proin sapien lacus, consectetur.</h3>
			    <p>Proin sapien lacus, consectetur vel neque at, semper vehicula purus. Nullam commodo enim vitae lacinia cursus. Vivamus non purus quis metus auctor tempor. Proin feugiat justo in orci auctor, in rhoncus tellus consequat. Nullam molestie, purus et venenatis ullamcorper, mi ex semper magna, quis suscipit magna nunc vitae libero. Cras lacus leo, lobortis at nisl at, ultricies ultrices urna. </p>
			</div>
		    </div>
		    <h3 class="h3">Suspendisse maximus felis enim, nec pellentesque mauris volutpat.</h3>
		    <p>Curabitur suscipit auctor interdum. Donec bibendum diam eget suscipit commodo. Morbi fringilla neque ex, et consequat erat viverra ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam rutrum nunc vel tellus volutpat eleifend. Nulla facilisi. Fusce et molestie mauris. Nunc id porttitor velit. Nullam bibendum dictum diam sit amet viverra. Aenean aliquet arcu in augue faucibus posuere non ac dolor. Nullam commodo accumsan lacus, ac posuere mi laoreet quis. Donec egestas egestas eros, ut cursus nisi varius bibendum. Nunc fermentum augue elementum leo rutrum aliquam. Maecenas semper sem et consectetur consectetur. Cras eget faucibus elit, dapibus tincidunt sapien.</p>
		</div>
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>