<% var data = {
title: "Recyle your phone | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="page-header bg-3">
    <div class="container header-search">
	<p class="heading">Recycle your phone</p>
	<p class="mb-4">Tell us whitch device you have and and we`ll give you a quote.</p>
	<div class="form-group">
	    <div class="input-group">
		<input type="text" class="form-control" placeholder="Search for you device">
		<div class="input-group-append">
		    <button class="btn btn-outline-info" type="button"><svg class="icon"><use xlink:href="#search"></use></svg></button>
		</div>
	    </div>
	</div>
	<p class="mt-4">Or search from a <a href="#">list</a> or by <a href="#">manufacturer</a></p>
    </div>
</div>
<section class="section">
    <div class="container">
	<h2 class="h2">Most popular recycled devices</h2>
	<div class="row mb-2">
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-2.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-3.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-4.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-5.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-6.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	</div>
	<div class="card card-body bg-primary px-xl-4 mb-3">
	    <div class="row row-100">
		<div class="col-md-6">
		    <h2 class="h2">Get a quote</h2>
		    <p>Tell us whitch device you have and we`ll give you a quote.</p>
		    <div class="form-group">
			<label>Device</label>
			<select class="form-control form-control-lg">
			    <option>Device ...</option>
			    <option>Device Type</option>
			    <option>Device Type</option>
			    <option>Device Type</option>
			    <option>Device Type</option>
			</select>
		    </div>
		    <div class="form-group">
			<label>Make</label>
			<select class="form-control form-control-lg">
			    <option>Please choose</option>
			    <option>Please choose</option>
			    <option>Please choose</option>
			    <option>Please choose</option>
			</select>
		    </div>
		    <div class="form-group">
			<label>Model</label>
			<select class="form-control form-control-lg">
			    <option>Please choose</option>
			    <option>Please choose</option>
			    <option>Please choose</option>
			    <option>Please choose</option>
			</select>
		    </div>
		    <div class="form-group mt-5">
			<button type="button" class="btn btn-secondary btn-lg btn-block">GET A QUOTE</button>
		    </div>
		</div>
		<div class="col-md-6">
		    <h2 class="h2">How it works</h2>
		    <p>We've made it as simple as possible for you</p>
		    <div class="p-xl-3 p-2 mt-4">
			<div class="row">
			    <div class="col-3">
				<div class="text-center">
				    <img src="./img/icon-postage.png" srcset="./img/retina/icon-postage-2x.png 2x" alt="icon-postage">
				</div>
			    </div>
			    <div class="col-9">
				<p class="text-white fsz-14">Get a quote and place your order. We can<br class="d-none d-lg-block"> send you out a free postage pack or you<br class="d-none d-lg-block"> can print a label to send yourself.</p>
			    </div>
			</div>
		    </div>
		    <div class="p-xl-3 p-2">
			<div class="row">
			    <div class="col-3">
				<div class="text-center">
				    <img src="./img/icon-a-plus.png" srcset="./img/retina/icon-a-plus-2x.png 2x" alt="icon-a-plus-2x">
				</div>
			    </div>
			    <div class="col-9">
				<p class="text-white fsz-14">We'll check your device over and<br class="d-none d-lg-block"> confirm the quote.</p>
			    </div>
			</div>
		    </div>
		    <div class="p-xl-3 p-2">
			<div class="row">
			    <div class="col-3">
				<div class="text-center">
				    <img src="./img/icon-same-day-payment.png" srcset="./img/retina/icon-same-day-payment-2x.png 2x" alt="Same Day Payment">
				</div>
			    </div>
			    <div class="col-9">
				<p class="text-white fsz-14">We will pay you the same day if we receive<br class="d-none d-lg-block"> your device by 1pm</p>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	<h2 class="h2">bTech Market reviews</h2>
	<div class="owl-carousel owl-theme reviews mb-3">
	    <div class="review card card-body"> 
		<div class="review-heading">
		    <div class="rating">
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star-half"></use></svg>
		    </div>
		    <div class="date">2 weeks ago</div>
		</div>
		<div class="qoute">Aenean a neque ligula.<br> Pellentesque tempus id sapien<br> a elementum. Aliquam id magna quis eros interdum egestas.</div>
		<div class="author">Alexandra S.</div>
	    </div>
	    <div class="review card card-body"> 
		<div class="review-heading">
		    <div class="rating">
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star-half"></use></svg>
		    </div>
		    <div class="date">2 weeks ago</div>
		</div>
		<div class="qoute">Aenean a neque ligula.<br> Pellentesque tempus id sapien<br> a elementum. Aliquam id magna quis eros interdum egestas.</div>
		<div class="author">Alexandra S.</div>
	    </div>
	    <div class="review card card-body"> 
		<div class="review-heading">
		    <div class="rating">
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star-half"></use></svg>
		    </div>
		    <div class="date">2 weeks ago</div>
		</div>
		<div class="qoute">Aenean a neque ligula.<br> Pellentesque tempus id sapien<br> a elementum. Aliquam id magna quis eros interdum egestas.</div>
		<div class="author">Alexandra S.</div>
	    </div>
	    <div class="review card card-body"> 
		<div class="review-heading">
		    <div class="rating">
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star-half"></use></svg>
		    </div>
		    <div class="date">2 weeks ago</div>
		</div>
		<div class="qoute">Aenean a neque ligula.<br> Pellentesque tempus id sapien<br> a elementum. Aliquam id magna quis eros interdum egestas.</div>
		<div class="author">Alexandra S.</div>
	    </div>
	    <div class="review card card-body"> 
		<div class="review-heading">
		    <div class="rating">
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star-half"></use></svg>
		    </div>
		    <div class="date">2 weeks ago</div>
		</div>
		<div class="qoute">Aenean a neque ligula.<br> Pellentesque tempus id sapien<br> a elementum. Aliquam id magna quis eros interdum egestas.</div>
		<div class="author">Alexandra S.</div>
	    </div>
	    <div class="review card card-body"> 
		<div class="review-heading">
		    <div class="rating">
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star"></use></svg>
			<svg class="icon"><use xlink:href="#star-half"></use></svg>
		    </div>
		    <div class="date">2 weeks ago</div>
		</div>
		<div class="qoute">Aenean a neque ligula.<br> Pellentesque tempus id sapien<br> a elementum. Aliquam id magna quis eros interdum egestas.</div>
		<div class="author">Alexandra S.</div>
	    </div>
	</div>
	<h2 class="h2">bTech Recycle you can expect</h2>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>