<% var data = {
title: "Recyle your phone | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="page-header bg-3">
    <div class="container header-search">
	<p class="heading">Recycle your phone</p>
	<p class="mb-4">Tell us whitch device you have and and we`ll give you a quote.</p>
	<div class="form-group">
	    <div class="input-group">
		<input type="text" class="form-control" placeholder="Search for you device">
		<div class="input-group-append">
		    <button class="btn btn-outline-info" type="button"><svg class="icon"><use xlink:href="#search"></use></svg></button>
		</div>
	    </div>
	</div>
	<p class="mt-4">Or search from a <a href="#">list</a> or by <a href="#">manufacturer</a></p>
    </div>
</div>
<section class="section">
    <div class="container">
	<h2 class="h2">Most popular recycled devices</h2>
	<div class="row">
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-1.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-2.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-3.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-4.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-5.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	    <div class="col-6 col-lg-2 col-md-4">
		<div class="card card-body device-tmpl-1">
		    <h3 class="device-title">iPhone XS 256GB</h3>
		    <div class="device-img">
			<a href="#">
			    <img src="./uploads/device-6.png" alt="iPhone XS 256GB">
			</a>
		    </div>
		    <div class="device-link">
			<a href="#"><svg class="icon"><use xlink:href="#device-right"></use></svg> Get up to $105</a>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>