<% var data = {
title: "Reports | Btech",
}; %>
<%= _.template(require('./../includes/vendor_header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="page-header">
    <h1 class="h1">Reports</h1>
</div>
<section class="section reports-page">
    <div class="container">
	<div class="row align-content-center">
	    <div class="col-auto mb-3">
		<h2 class="h2 mb-0">Sales Chart</h2>
	    </div>
	    <div class="col-auto mb-3" style="min-width: 18rem">
		<select class="form-control">
		    <option>Sold in last month</option>
		    <option>Sold in last week</option>
		    <option>Sold in last year</option>
		</select>
	    </div>
	</div>
	<div class="card mb-3">
	    <div class="card-header">
		<h3 class="h5">Overview</h3>
	    </div>
	    <div class="card-body">
		<div class="chart-wrp" style="height: 390px;">
		    <canvas id="chartOverview"></canvas>
		</div>
	    </div>
	</div>
	<div class="row justify-content-center">
	    <div class="col-md-6 col-lg-4 d-flex">
		<div class="card">
		    <div class="card-header">
			<h3 class="h5">Orders</h3>
		    </div>
		    <div class="card-body">
			<div class="orders-statistic">
			    <div class="item">
				<div class="name">Unsent Orders</div>
				<div class="value">70</div>
			    </div>
			    <div class="item">
				<div class="name">Orders Shipped</div>
				<div class="value">45</div>
			    </div>
			    <div class="item">
				<div class="name">Total Orders</div>
				<div class="value">457</div>
			    </div>
			    <div class="item">
				<div class="name">Orders last month</div>
				<div class="value">63</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col-md-6 col-lg-4 d-flex gap-sm">
		<div class="card">
		    <div class="card-header">
			<h3 class="h5">Performance</h3>
		    </div>
		    <div class="card-body">
			<div class="chart-wrp" style="height: 170px;">
			    <canvas id="chartPerformance"></canvas>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="col-md-7 col-lg-4 d-flex gap-md">
		<div class="card">
		    <div class="card-header">
			<h3 class="h5">Rating from customers</h3>
		    </div>
		    <div class="card-body">
			<div class="rating-customers">
			    <div class="item">
				<div class="name">Skills</div>
				<div class="rating">
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star-half"></use></svg>
				    <span class="ml-2">4.5/5</span>
				</div>
			    </div>
			    <div class="item">
				<div class="name">Quality of Requirements</div>
				<div class="rating">
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star-half"></use></svg>
				    <span class="ml-2">4.5/5</span>
				</div>
			    </div>
			    <div class="item">
				<div class="name">Availability</div>
				<div class="rating">
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star-half"></use></svg>
				    <span class="ml-2">4.5/5</span>
				</div>
			    </div>
			    <div class="item">
				<div class="name">Set Reasonable Deadlines</div>
				<div class="rating">
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star-half"></use></svg>
				    <span class="ml-2">4.5/5</span>
				</div>
			    </div>
			    <div class="item">
				<div class="name">Communication</div>
				<div class="rating">
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star-half"></use></svg>
				    <span class="ml-2">4.5/5</span>
				</div>
			    </div>
			    <div class="item">
				<div class="name">Cooperation</div>
				<div class="rating">
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star"></use></svg>
				    <svg class="icon"><use xlink:href="#star-half"></use></svg>
				    <span class="ml-2">4.5/5</span>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/vendor_footer.html').default)(data) %>