<% var data = {
title: "Sitemap | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>


<div class="page-header bg-1">
    <h1 class="h1">Sitemap</h1>
</div>
<section class="section container">
    <ul style="font-size: 1.3rem;">
	<li><a href="index.html">Home</a></li>
	<li><a href="register.html">Register - Btech_register_01.psd</a></li>
	<li><a href="enterprise-trade-in.html">Enterprise trade-in - Btech_Enterprise_Trade_in_01.psd</a></li>
	<li>
	    Agreement_to_sell
	    <ul>
		<li><a href="agreement-to-sell-01.html">Step 1 - Btech_Agreement_to_sell_step1_01.psd</a></li>
		<li><a href="agreement-to-sell-02.html">Step 2 - Btech_Agreement_to_sell_step2_01.psd</a></li>
		<li><a href="agreement-to-sell-03.html">Step 3 - Btech_Agreement_to_sell_step3_01.psd</a></li>
		<li><a href="agreement-to-sell-04.html">Step 4 - Btech_Agreement_to_sell_step4_01.psd</a></li>
		<li><a href="agreement-to-sell-05.html">Step 5 - Btech_Agreement_to_sell_step5_01.psd</a></li>
	    </ul>
	</li>
	<li><a href="vendor-login.html">Vendor login - Btech_vendors_login_01.psd</a></li>
	<li><a href="contact-customer-service.html">Contact customer service - Btech_ContactCustomerService_01.psd</a></li>
	<li><a href="add-a-product.html">Add a product - Btech_Add_a_product_01.psd</a></li>
	<li><a href="blog.html">Blog - Btech_Blog_01.psd</a></li>
	<li><a href="blog-single-post.html">Blog -Single Post - Btech_Blog_Post_01.psd</a></li>
	<li><a href="faq.html">FAQ - Btech_FAQ`s_01.psd</a></li>
	<li><a href="recycle-your-phone.html">Recyсle your phone - Btech_RecycleYourPhone_01.psd</a></li>
	<li><a href="admin-login.html">Admin Login - Btech_Admin_login_01.psd</a></li>
	<li><a href="inventory.html">Inventory 01 - Btech_Inventory_01.psd</a></li>
	<li><a href="inventory-02.html">Inventory 02 - Btech_Inventory_02.psd</a></li>
	<li><a href="orders-01.html">Orders 01 - Btech_Orders_01.psd</a></li>
	<li><a href="orders-02.html">Orders 02 - Btech_Orders_02.psd</a></li>
	<li><a href="vendor-dashboard.html">Vendor dashboard - Btech_VendorDashboard_01.psd</a></li>
	<li><a href="about-us.html">About us - Btech_AboutUs_02.psd</a></li>
	<li><a href="category-page.html">Category page - Btech_Category_page_01.psd</a></li>
	<li><a href="single-product.html">Single Product - Btech_product_01.psd</a></li>
	<li><a href="reports.html">Reports - Btech_Reports_01.psd</a></li>
	<li><a href="privacy-policy.html">Privacy Policy - Btech_Text_Page_Privacy_Policy_Etc_01.psd</a></li>
	<li><a href="vendor-account.html">Vendor Account - Btech_Vendor_Account_01.psd</a></li>
	<li><a href="customer-account.html">Customer Account - Btech_Customer_Account_01.psd</a></li>
	<li><a href="admin-account.html">Admin Account - Btech_Admin_Account_01.psd</a></li>
	<li><a href="shopping-cart.html">Shopping Cart - Btech_shoppingCart_01.psd</a></li>
	<li><a href="order-status.html">Order Status - Btech_OrderStatus_01.psd</a></li>
    </ul>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>