<% var data = {
title: "Typography | Btech",
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="container">
    <h1>Typography</h1>

    <h2>Headings</h2>
    <div class="card">
	<div class="card-body">
	    <h1>h1. Bootstrap heading</h1>
	    <h2>h2. Bootstrap heading</h2>
	    <h3>h3. Bootstrap heading</h3>
	    <h4>h4. Bootstrap heading</h4>
	    <h5>h5. Bootstrap heading</h5>
	    <h6>h6. Bootstrap heading</h6>
	</div>
    </div>
    <h2>Color</h2>
    <div class="card">
	<div class="card-body">
	    <p class="text-primary">.text-primary</p>
	    <p class="text-secondary">.text-secondary</p>
	    <p class="text-success">.text-success</p>
	    <p class="text-danger">.text-danger</p>
	    <p class="text-warning">.text-warning</p>
	    <p class="text-info">.text-info</p>
	    <p class="text-light bg-dark">.text-light</p>
	    <p class="text-dark">.text-dark</p>
	    <p class="text-body">.text-body</p>
	    <p class="text-muted">.text-muted</p>
	    <p class="text-white bg-dark">.text-white</p>
	    <p class="text-black-50">.text-black-50</p>
	    <p class="text-white-50 bg-dark">.text-white-50</p>
	</div>
    </div>
    <h2>Buttons</h2>
    <div class="card mb-5">
	<div class="card-body">
	    <button type="button" class="btn btn-primary">Primary</button>
	    <button type="button" class="btn btn-secondary">Secondary</button>
	    <button type="button" class="btn btn-light">Light</button>
	    <button type="button" class="btn btn-success">Success</button>
	    <button type="button" class="btn btn-danger">Danger</button>
	    <button type="button" class="btn btn-warning">Warning</button>
	    <button type="button" class="btn btn-info">Info</button>
	    <button type="button" class="btn btn-dark">Dark</button>
	    <button type="button" class="btn btn-link">Link</button>
	</div>
    </div>
    <div class="card mb-5">
	<div class="card-body">
	    <button type="button" class="btn btn-primary btn-lg">Large button</button>
	    <button type="button" class="btn btn-secondary btn-lg">Large button</button>
	    <div class="row mt-3">
		<div class="col-md-6">
		    <button type="button" class="btn btn-primary btn-lg btn-block">Welcome back!</button>
		</div>
		<div class="col-md-6">
		    <button type="button" class="btn btn-secondary btn-lg btn-block">Submit</button>
		</div>
	    </div>
	</div>
    </div>
    <h2>Form controls</h2>
    <div class="card mb-5">
	<div class="card-body">
	    <div class="row">
		<div class="col-md-6">
		    <div class="form-group">
			<input class="form-control form-control-lg" type="text" placeholder=".form-control-lg">
		    </div>
		    <div class="form-group">
			<input class="form-control" type="text" placeholder="Default input">
		    </div>
		    <div class="form-group">
			<input class="form-control form-control-sm" type="text" placeholder=".form-control-sm">
		    </div>
		    <div class="form-group">
			<div class="input-group input-group-lg mb-3">
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			    <div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" id="button-addon2">
				    <svg class="icon eye-open">
					<use xlink:href="#eye-open"></use>
				    </svg>
				</button>
			    </div>
			</div>
		    </div>
		</div>
		<div class="col-md-6">
		    <div class="form-group">
			<select class="form-control form-control-lg">
			    <option>Large select</option>
			</select>
		    </div>
		    <div class="form-group">
			<select class="form-control">
			    <option>Default select</option>
			</select>
		    </div>
		    <div class="form-group">
			<select class="form-control form-control-sm">
			    <option>Small select</option>
			</select>
		    </div>
		</div>
	    </div>
	</div>
	<div class="card-body">
	</div>
    </div>
</div>

<%= _.template(require('./../includes/footer.html').default)(data) %>