<% var data = {
title: "Contact customer service | Btech",
}; %>
<%= _.template(require('./../includes/vendor_header.html').default)(data) %>
<%= _.template(require('./../includes/svg-sprite.html').default)(data) %>
<div class="page-header">
    <h1 class="h1">Contact customer service</h1>
</div>
<section class="section container py-5">
    <div class="row row-35">
	<div class="col-md-9">
	    <div class="form-group">
		<label class="fsz-14">Hi! How can we help? <span class="font-weight-normal">(required)</span></label>
		<select class="form-control form-control-lg">
		    <option>I`m having trouble </option>
		    <option>I`m having trouble </option>
		    <option>I`m having trouble </option>
		    <option>I`m having trouble </option>
		    <option>I`m having trouble </option>
		</select>
	    </div>
	    <div class="form-group">
		<label class="fsz-14">Whitch bTech Market isn`t working <span class="font-weight-normal">(required)</span></label>
		<span class="form-text text-muted mt-0 mb-2">By selecting a bTech Market, we`ll be able to get back to you with a better and faster response</span>
		<select class="form-control form-control-lg">
		    <option></option>
		    <option>option</option>
		    <option>option</option>
		    <option>option</option>
		    <option>option</option>
		</select>
	    </div>
	    <div class="form-group">
		<label class="fsz-14">Whitch bTech Market isn`t working <span class="font-weight-normal">(required)</span></label>
		<span class="form-text text-muted mt-0 mb-2">What a happening?<br> What do you expect to happen?<br> What was the last thing you did before the issue happened?</span>
		<textarea rows="8" class="form-control"></textarea>
	    </div>
	    <div class="form-group">
		<label class="fsz-14">Is there an example that illustrates the problem? <span class="font-weight-normal">(required)</span></label>
		<span class="form-text text-muted mt-0 mb-2">1. Find the example in your task history.<br> 2. Copy the URL from the specific task.<br> 3.Paste the URL below.</span>
		<input type="text" class="form-control form-control-lg">
	    </div>
	    <div class="form-group">
		<label class="fsz-14">Please include a screenshot (or video) of the issue if applicable <span class="font-weight-normal">(required)</span></label>
		<span class="form-text text-muted mt-0 mb-2">Screenshots or videos are the best way to show us exactly what is going on. You can use a service like Imgur to upload images,<br> or like Jing to share videos. You can also upload image files below.</span>
		<input type="text" class="form-control form-control-lg">
	    </div>
	    <div class="form-group">
		<form action="/file-upload" class="dropzone">
		    <div class="fallback">
			<input name="file" type="file" multiple />
		    </div>
		</form>
	    </div>
	    <div class="text-right">
		<button type="button" class="btn btn-primary btn-lg">Send email</button>
	    </div>
	</div>
	<div class="col-md-3">
	    <div class="card card-body customer-service-sidebar">
		<p class="fsz-11 text-muted">Links open in new window</p>
		<h3 class="sidebar-title">Popular resources</h3>
		<ul class="nav flex-column">
		    <li><a href="#" target="_blank">Support Documentation</a></li>
		    <li><a href="#" target="_blank">bTech Market status</a></li>
		</ul>
		<h3 class="sidebar-title">Popular resources</h3>
		<ul class="nav flex-column">
		    <li><a href="#" target="_blank">Common bTech Market issues</a></li>
		    <li><a href="#" target="_blank">Replaying tasks when a bTech Market an error</a></li>
		    <li><a href="#" target="_blank">Steps to Troubleshoot you bTech Market</a></li>
		    <li><a href="#" target="_blank">Help With bTech Market Errors</a></li>
		</ul>
	    </div>
	</div>
    </div>
</section>

<%= _.template(require('./../includes/vendor_footer.html').default)(data) %>